{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'communities/css/detail.css' %}">
{% endblock css %}

{% block content %}
  <!-- 게시글 정보 -->
  <div class="row r_info">
    <h2 class="my-3">제목: {{ article.title }}
    </h2>
    <!-- 커뮤니티 헤더 -->
    <div class="r_header">
      <h2>
        <span class="grade">작성 시간 {{ article.update_at|date:"y-m-d" }}</span>
      </h2>
      <div class="detailed_info">
        <!-- 조회수 -->
        <div class="people_views">
          <img class="m-1" src="https://cdn-icons-png.flaticon.com/512/159/159604.png" alt="조회수 아이콘">
          <span>조회</span>
        </div>
        <p class="division">┃</p>

        <!-- 추천 -->
        <div class="people_views">
          <img class="m-1" src="https://cdn-icons-png.flaticon.com/512/159/159604.png" alt="조회수 아이콘">
          <span>추천</span>
        </div>
        <p class="division">┃</p>

        <!-- 조회수 -->
        <div class="people_views">
          <img class="m-1" src="https://cdn-icons-png.flaticon.com/512/159/159604.png" alt="조회수 아이콘">
          <span>댓글</span>
        </div>
      </div>
    </div>
    <hr class="separator">
    <!-- 내용 -->
    <div class="row mx-2">{{ article.content }}</div>
    <form class="mt-3" action="{% url "communities:article_delete" article.pk %}" method="POST">
      {% csrf_token %}
      <a href="{% url "communities:update" article.pk %}" class="btn btn-outline-primary" method="POST">수정</a>
      <input class="btn btn-outline-danger" type="submit" value="삭제">
      <a href="{% url "communities:index" %}" class="btn btn-outline-secondary">뒤로</a>
    </form>
  </div>

  <!-- 댓글창 -->
  <!-- 댓글 -->
  <div>
    {% comment %} {% for review in question_list %} {% endcomment %}
      <div class="a-comment">
        <!-- 리뷰 상단 -->
        <div class="reviews-header">
          <!-- 프로필 사진 -->
          <div class="d-flex">
            <div class="rounded-pill">
              {% if review.user.image %}
                <img src="{{ review.user.image.url }}" alt="프로필 사진" style="width: 50px; height: 50px; border-radius: 500px">
              {% else %}
                <img src="https://www.dummyimage.com/600x400/000/fff" alt="후기 이미지" style="width: 50px; height: 50px; border-radius: 500px">
              {% endif %}
            </div>
            <!-- 유저 네임 -->

            <div class="user-name"></div>
          </div>

          {% if request.user.is_authenticated %}
            <form id="comment-form" data-article-id="{{ article.pk }}" class="d-flex">
              {% csrf_token %}
              {% bootstrap_form comment_form layout='floating'%}
              <input class="btn btn-primary mx-3" type="submit" value="작성" style="height: 3.5rem;">
            </form>
          {% endif %}

          <!-- 시간 -->
          <div class="time">
            {% comment %} {% if review.created_string == False %}
              <td>{{ review.created_string|date:'m월 d일' }}</td>
            {% else %}
              <td>{{ review.created_string }}</td>
            {% endif %} {% endcomment %}
          </div>
        </div>

        <!-- 댓글내용 -->
        <div class="review-contents">
          <div class="review-content">댓글 내용</div>
          <div class="d-flex">
              <div id="comments">
                {% for comment in comments %}
                  <div class="rounded-pill">
                    {% if comment.user.image %}
                      <img src="{{ comment.user.image.url }}" alt="프로필 사진" style="width: 30px; height: 30px; border-radius: 500px">
                    {% else %}
                      <img src="https://www.dummyimage.com/600x400/000/fff" alt="후기 이미지" style="width: 30px; height: 30px; border-radius: 500px">
                    {% endif %}
                  </div>
                  <p class="my-3">
                    {{ comment.user.username }}
                    |
                    {{ comment.content }}</p>
                  <!-- 대댓글내용 -->
                  <div class="mx-5 child-comments">
                    {% for comment in comments %}
                      {% for sub_comment in comments %}
                        {% if comment.id == sub_comment.parent_id %}
                          <div class="rounded-pill">
                            {% if sub_comment.user.image %}
                              <img src="{{ sub_comment.user.image.url }}" alt="프로필 사진" style="width: 30px; height: 30px; border-radius: 500px">
                            {% else %}
                              <img src="https://www.dummyimage.com/600x400/000/fff" alt="후기 이미지" style="width: 30px; height: 30px; border-radius: 500px">
                            {% endif %}
                          </div>
                          <p class="my-3">
                            {{ sub_comment.user.username }}
                            |
                            {{ sub_comment.content }}</p>
                          <div class="d-flex">
                            {% if request.user == sub_comment.user %}
                              <form class="comment-delete" action="{% url 'communities:comment_delete' article.pk comment.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">삭제</button>
                              </form>
                            {% endif %}
                          </div>
                          <hr>
                        {% endif %}
                        {% empty %}
                          <p>.</p>
                      {% endfor %}
                    {% endfor %}
                  </div>
                  <!-- 대댓글끝 -->
                  <div class="d-flex">
                    {% if request.user.is_authenticated %}
                      <form class="d-flex" id="comment-form" action="{% url 'communities:sub_comment_create' article.pk comment.pk %}" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form comment_form layout='floating'%}
                        <input class="btn btn-primary mx-3" type="submit" value="작성" style="height: 3.5rem;">
                      </form>
                    {% endif %}
                    
                    {% if request.user == comment.user %}
                      <form class="comment-delete" action="{% url 'communities:comment_delete' article.pk comment.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">삭제</button>
                      </form>
                    {% endif %}
                  </div>
                  <hr>
                  {% empty %}
                    <p>댓글이 없어요 ㅠ_ㅠ</p>
                {% endfor %}
              </div>
            
            
            
          </div>
        </div>

        <!-- 리뷰에 댓글 달기 -->
        <div class="re-comment">
          <div class='d-flex justify-content-between'>
            <div class='d-flex'>
              <div>
                <div class="text-primary text-opacity-25">
                  <div class="d-flex justify-content-between">
                    <div>
                      <!-- 로그인된 유저만 보이기 -->
                      <!-- 리뷰 좋아요 -->
                      <div>

            <div>
                <div class="d-flex">
                    <div class="user-name">user-name</div>
                    <div class="time">
                        time
                        {% comment %} {% if review.created_string == False %}
                          <td>{{ review.created_string|date:'m월 d일' }}</td>
                        {% else %}
                          <td>{{ review.created_string }}</td>
                        {% endif %} {% endcomment %}
                      </div>
                </div>
                <div class="user-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sint quia omnis et eaque aliquam corporis facilis dicta perferendis unde, ea neque magni minima commodi illum consectetur culpa consequuntur qui!</div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">

                        <form class="like-review" data-reviewa-id="" data-restauranta-id="" method="POST">
                            {% csrf_token %}
                            {% if request.user.is_authenticated %}
                            {% comment %} {% if request.user in review.like.all %}
                            <input type="submit" class="btn btn-dark review-like{{ review.pk }}" value="좋아요 취소">
                            {% else %}
                            <input type="submit" class="btn btn-dark review-like{{ review.pk }}" value="좋아요">
                            {% endif %} {% endcomment %}
                            {% else %}
                            <input type="submit" class="btn btn-dark" value="좋아요" disabled="disabled">
                            {% endif %}
                            <span class=""></span>
                        </form>
                        <div>주인장 좋아요</div>
                        <button id="comment-btn" type="button" class="btn btn-sm btn-secondary review-comment" data-review-id="">댓글달기</button>
                    </div>
                    <div class="text-end">
                        수정 삭제
                      {% comment %} {% if review.user.pk == request.user.pk %}
                        <a href="{% url 'reviews:update' review.pk restaurant.pk %}" class="link-secondary">수정</a>
                        <a href="{% url 'reviews:delete' review.pk restaurant.pk %}" class="link-danger">삭제</a>
                      {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>
          </div>
        </div>

        <!-- 리뷰에 댓글 달기 -->
        <div class="re-comment">
          <div class='d-flex justify-content-between'>
            <div class='d-flex'>
                <div>
                    <div class="text-primary text-opacity-25">
                        <div class="d-flex justify-content-between">
                            <div>
                                <!-- 로그인된 유저만 보이기 -->
                                <!-- 리뷰 좋아요 -->
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
            
          </div>
          <div class="hidden">
            <!-- 대댓글폼 클릭 -->
            {% comment %} <form class="commentForm" method="POST" data-review-id="">
              {% csrf_token %}
              {% bootstrap_form comment_form %}
              <input type="submit" class='btn' value='입력'>
            </form> {% endcomment %}
          </div>
          <hr>
          <!-- 대댓글 -->
          {% comment %} {% for comment in review.comment_set.all %}
            <div class="d-flex justify-content-between">
              <div class="">
                {% if comment.user.image %}
                  <img src="{{ comment.user.image.url }}" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                {% else %}
                  <img src="https://www.dummyimage.com/600x400/000/fff" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                {% endif %}
                <span class="user-c-name">{{comment.user}}</span>
                <span>{{comment.content}}</span>
              </div>
              <div>
                {% if request.user.pk == comment.user.pk %}
                  <form class="comment-delete" data-review-id="{{ review.pk }}" data-comment-id="{{ comment.pk }}">
                    {% csrf_token %}
                    <button type=" submit" class="btn btn-danger">삭제</button>
                  </form>
                {% endif %}
              </div>
            </div>
          {% endfor %} {% endcomment %}
        </div>
      </div>
      {% comment %} {% empty %}
      <p class="text-center">아직 리뷰가 없습니다. 리뷰를 남겨
        <b>{{ restaurant.restaurant_name }}</b>의 첫번째 리뷰를 남겨보세요.
      </p> {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 댓글!
  // (1) 댓글 폼
  const commentForm = document.querySelector('#comment-form')
  // (2) 제출하면, 함수 실행시킬래
  // csrf
  const csrftoken = document
    .querySelector('[name=csrfmiddlewaretoken]')
    .value
    commentForm
    .addEventListener('submit', function (event) {
      event.preventDefault();
      axios({
        method: 'post',
        url: `/communities/${event.target.dataset.articleId}/comments/`,
        headers: {
          'X-CSRFToken': csrftoken
        },
        data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
      }).then(response => {
        const comments = document.querySelector("#comments")
            comments.insertAdjacentHTML('beforeend',`
            <div class="rounded-pill">
              {% if comment.user.image %}
                <img src="{{ comment.user.image.url }}" alt="프로필 사진" style="width: 30px; height: 30px; border-radius: 500px">
              {% else %}
                <img src="https://www.dummyimage.com/600x400/000/fff" alt="후기 이미지" style="width: 30px; height: 30px; border-radius: 500px">
              {% endif %}
            </div>
            <p>
              ${response.data.userName}
              |
              ${response.data.content}</p>
            
              <form class="comment-delete">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">삭제</button>
              </form>
            
            <hr>
            `)
            commentForm.reset()
      })
    })
</script>


{% endblock content %}

{% comment %} <div class="d-flex justify-content-between">
  <div>
    {% if comment.user.image %}
      <img src="{{ comment.user.image.url }}" alt="" style="width: 50px; height: 50px; border-radius: 500px">
    {% else %}
      <img src="https://www.dummyimage.com/600x400/000/fff" alt="" style="width: 50px; height: 50px; border-radius: 500px">
    {% endif %}
    <span class="user-c-name">${response.data.comment_review_user}</span>
    <span>${response.data.comment_review_content}</span>
  </div>
  <div>
      <form class="comment-delete" data-review-id="${reviewId}" data-comment-id="${response.data.comment_review_pk}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">삭제</button>
      </form>
  </div>
</div>); {% endcomment %}