{% extends 'base1.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

  {% if request.resolver_match.url_name == 'article_create' %}
    <h1>
      글쓰기
    </h1>
  {% elif request.resolver_match.url_name == 'notion_create' %}
    <h1>
      공지 쓰기
    </h1>
  {% else %}
    <h1>
      수정하기
    </h1>
  {% endif %}

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form articleForm %}

    {{ formset.management_form }}
    {% for form in formset %}
      {{ form }}<br/>
      {% endfor %}

      {% bootstrap_button '작성' %}
    </form>

  {% endblock content %}
