{% extends 'base1.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'communities/css/index.css' %}">
{% endblock css %}

{% block content %}
  <!-- 공지사항-->
  <div class="container my-5">
    <h4 class="m-3">공지사항</h4>
    <!-- 공지사항 시작 -->
    {% for notion in notions %}
    <div class="row">
      
      <div class="col-6">
        <a class="detail-article" href="{% url 'communities:detail' notion.pk %}" style="text-decoration: none; color: #000000 !important;">
        <span class="comm_span">공지</span>{{ notion.title }}</a>
      </div>
      <div class="col-2">{{ notion.user.username }}</div>
      <div class="col-2">{{ notion.hit }}</div>
      <div class="col-2">{{ notion.created_string }}</div>
      
    </div>
    <hr class="my-1">
    {% endfor %}
    <!-- 공지사항 종료 -->
  </div>

  <!--오늘의 BEST-->
  <div class="best">
    <h4 class="m-2 mt-5">오늘의 BEST</h4>
    <div>
      <div class="today-best-ten">
        <div class="today-best-left">
          <div class="today">
            {% if bests.0 %}
            <a class="best_link" href="{% url 'communities:detail' bests.0.pk %}">
              <span class="best-today">01</span>{{ bests.0.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">01</span>{{ bests.0.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.1 %}
            <a class="best_link" href="{% url 'communities:detail' bests.1.pk %}">
              <span class="best-today">02</span>{{ bests.1.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">02</span>{{ bests.1.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.2 %}
            <a class="best_link" href="{% url 'communities:detail' bests.2.pk %}">
              <span class="best-today">03</span>{{ bests.2.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">03</span>{{ bests.2.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.3 %}
            <a class="best_link" href="{% url 'communities:detail' bests.3.pk %}">
              <span class="best-today">04</span>{{ bests.3.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">04</span>{{ bests.3.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.4 %}
            <a class="best_link" href="{% url 'communities:detail' bests.4.pk %}">
              <span class="best-today">05</span>{{ bests.4.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">05</span>{{ bests.4.title }}</div>
            </a>
            {% endif %}
        </div>
        <div class="today-best-right">
          <div class="today">
            {% if bests.5 %}
            <a class="best_link" href="{% url 'communities:detail' bests.5.pk %}">
              <span class="best-today">06</span>{{ bests.5.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">06</span>{{ bests.5.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.6 %}
            <a class="best_link" href="{% url 'communities:detail' bests.6.pk %}">
              <span class="best-today">07</span>{{ bests.6.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">07</span>{{ bests.6.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.7 %}
            <a class="best_link" href="{% url 'communities:detail' bests.7.pk %}">
              <span class="best-today">08</span>{{ bests.7.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">08</span>{{ bests.7.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.8 %}
            <a class="best_link" href="{% url 'communities:detail' bests.8.pk %}">
              <span class="best-today">09</span>{{ bests.8.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">09</span>{{ bests.8.title }}</div>
            </a>
            {% endif %}
          <div class="today">
            {% if bests.9 %}
            <a class="best_link" href="{% url 'communities:detail' bests.9.pk %}">
              <span class="best-today">10</span>{{ bests.9.title }}</div>
            </a>
            {% else %}
            <a class="best_link" href="">
              <span class="best-today">10</span>{{ bests.9.title }}</div>
            </a>
            {% endif %}
        </div>
        
      </div>
    </div>
  </div>
  <div class="writing">
    {% if request.user.is_superuser %}
    <a class="recomm" method="POST" href="{% url 'communities:notion_create' %}">공지쓰기</a>
    {% endif %}
    <a class="recomm" method="POST" href="{% url 'communities:article_create' %}">글쓰기</a>
  </div>
  <!--탭 버튼-->
  <div class="btn_group" data-toggle="buttons">
    {% if category == '전체' %}
    <a class="btn_btn" href="{% url 'communities:index' %}">전체</a>
    {% else %}
    <a class="btn_btn_dis" href="{% url 'communities:index' %}">전체</a>
    {% endif %}
    {% if category == '잡담' %}
    <a class="btn_btn" href="{% url 'communities:index_jab' %}">잡담</a>
    {% else %}
    <a class="btn_btn_dis" href="{% url 'communities:index_jab' %}">잡담</a>
    {% endif %}
    {% if category == '질문' %}
    <a class="btn_btn" href="{% url 'communities:index_question' %}">질문</a>
    {% else %}
    <a class="btn_btn_dis" href="{% url 'communities:index_question' %}">질문</a>
    {% endif %}
    {% if category == '자랑' %}
    <a class="btn_btn" href="{% url 'communities:index_boast' %}">자랑</a>
    {% else %}
    <a class="btn_btn_dis" href="{% url 'communities:index_boast' %}">자랑</a>
    {% endif %}
    {% if category == '고민/상담' %}
    <a class="btn_btn" href="{% url 'communities:index_consult' %}">고민/상담</a>
    {% else %}
    <a class="btn_btn_dis" href="{% url 'communities:index_consult' %}">고민/상담</a>
    {% endif %}
    {% if category == '인사' %}
    <a class="btn_btn" href="{% url 'communities:index_hello' %}">인사</a>
    {% else %}
    <a class="btn_btn_dis" href="{% url 'communities:index_hello' %}">인사</a>
    {% endif %}
  </div>

  <!--글 목록-->
  <div class="container article-title">
    <!-- 게시글 구분 제목 -->
    <div class="row justify-content-center text-center mt-3 mb-2">
      <div class="col-1">추천</div>
      <div class="col-1">분류</div>
      <div class="col-4">제목</div>
      <div class="col-2">아이디</div>
      <div class="col-1">조회수</div>
      <div class="col-1">날짜</div>
    </div>
    {% comment %} <hr class="m-2"> {% endcomment %}

    <!-- 게시글들 -->
    <div class="articles py-2">
      {% for article in question_list %}
      <!-- 게시글 하나씩 -->
      <a class="detail-article" href="{% url 'communities:detail' article.pk %}" style="text-decoration: none; color: #000000 !important;">
        <div class="row justify-content-center text-center">
          <div class="col-1">
            <span class="recomment">{{ article.like.count }}</span></div>
          <div class="col-1">
            <span class="recomment">{{ article.category }}</span></div>
          <div class="col-4">
            {{ article.title }}</div>
          <div class="col-2">{{ article.user.username }}</div>
          <div class="col-1">{{ article.hits }}</div>
          <div class="col-1">{{ article.created_string }}</div>
        </div>
        <hr class="m-3 my-2">
      </a>
      <!-- 게시글 끝 -->
      {% endfor %}
    </div>
  </div>

  
  <!--페이지네이션 + 게시글 정렬-->
  <div class="container">
  <div class="pgnation-sort">
      <!-- 페이징처리 시작 -->
      <div class="page_h">
        <ul class="pagination">
          <!-- 이전페이지 -->
          {% if question_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ question_list.previous_page_number }}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&laquo;</a>
            </li>
          {% endif %}
          <!-- 페이지리스트 -->
          {% for page_number in question_list.paginator.page_range %}
            {% if page_number == question_list.number %}
              <li class="page-item" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <!-- 다음페이지 -->
          {% if question_list.has_next %}
            <li class="page-item">
              <a class=" page-link" href="?page={{ question_list.next_page_number }}">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class=" page-link" tabindex="-1" aria-disabled="true" href="#">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <!-- 페이징처리 끝 -->
  <!-- 간격용 -->
  <!-- <div style="opacity: 0;">hellohellohellohell</div> -->
</div>
</div>

  <!-- 게시글 검색창 -->
  <div class="search_i">
      <form action="{% url 'communities:search' %}" method="GET" class="d-flex">
        {% csrf_token %}
        <input class="form-control rounded-2 text-left btn-sm  mr-5" type="search" placeholder="검색어를 입력해주세요." aria-label="Search" name="search">
        <button type="submit" class="btn">
          <i class="bi bi-search"></i>
        </button>
      </form>
  </div>
{% endblock content %}
