.search_i{
    display: flex;
    justify-content: center;
}

.search-time {
    display: flex;
    justify-content: space-between;
}

.search-time form {
    display: flex;
}

.search-time div {
    display: flex;
    width: 50%;
}

.today {
    margin-top: 10px;
}

.today-best-ten {
    display: flex;
}

.today-best-left {
    width: 50%;
}

.today-best-right {
    width: 50%;
}

.btn_group {
    display: inline-flex;
    justify-content: center;
    border: 1px solid #a4c3fa;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    width: 100%; 
}

.btn_btn {
    width: 100%;
    padding: 13px;
    outline: none;
    border: none;
    cursor: pointer;
    border-right: 1px solid #a0c0f8;
    background: #a4c3fa;
    color: white;
    text-align: center;
    text-decoration-line: none;
}

.btn_btn:last-child {
    border-right: none;
}

.btn_btn:hover {
    background: #5793fa ;
}

.best-today  {
    background-color: #a4c3fa;
    border-radius: 0.3rem;
    margin-right: 1rem;
    padding: 0.3rem 0.3rem;
    color: white;
    font-size: small;
    
}

.comm_span {
    background-color: #ac0101;
    border-radius: 0.3rem;
    margin-right: 1rem;
    padding: 0.2rem 0.2rem;
    color: white;
    font-size: small;
}


.classification-btn {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.article-title {
    
    font-size: 0.8rem;
}

.articles {
    
    border: 2px solid silver;
    border-radius: 5px;
}

.pgnation-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page_h{
    border: none 10px;
}
.recomm{
    background-color:  #70a2f9;
    border-radius: 0.3rem;
    border: 1px solid  #70a2f9;
    margin-right: 1rem;
    padding: 0.2rem 0.5rem;
    color: white;
    display: inline-block;
    margin-top: 20px;
    text-decoration-line: none;
}

.recomment {
    background-color:  #d9e7ff;
    border-radius: 0.5rem;
    border: 1px solid  #d9e7ff;
    margin-right: 1rem;
    padding: 0.006rem 0.4rem;
    color: black;
    font-size: smaller;
    display: inline-block;
}

.pgnation-sort{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0;
}

.dropdown {
    display: inline-block;
    margin-top: 20px;
    padding: 0;
}