{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'labs/css/intro.css' %}">
{% endblock css %}

{% block carousel %}
  <!-- 참신한 멘트-->
  <!--['김유영', '신윤식', '이성인', '이호빈', '조창현']-->
  <!-- ['팀장', '멘탈붕괴직전', '팀원2', '야간조', '팀원4']-->
  <div class="intro">
    <div class="container" style="height:100%;">
      <div class="intro-flex">
        <div class="intro-comment">
          <div class="intro-comment-change">
            <h3>신윤식<span>프론트엔드</span></h3>
            <p>프로젝트가 시작되면서 걱정을 많이 했었는데 열정 넘치는 팀원분들을 만나서 행복합니다! 우리 팀원들 고생 많았고, 최종 프로젝트때도 같이했으면 좋겠다!!</p>
          </div>
          <div class="intro-comment-change">
            <h3>이성인<span>백엔드</span></h3>
            <p>밤 12시까지 개발하는 것은 노력의 축에도 못낀다는 것을 처음으로 알았습니다. 다들 정말 너무 열심히 해 줘서 감사하고 덕분에 좋은 작품을 만들 수 있었습니다.</p>
          </div>
          <div class="intro-comment-change">
            <h3>이호빈<span>프론트엔드</span></h3>
            <p>프론트의 큰 재미를 느끼게 해준 팀원들한테 너무 고맙고 다들 늦은 시간까지 열심히 해준 덕분에 좋은 작품이 나왔습니다. 힘들 때마다 지치지 않게 서로 챙겨줘서 좋았습니다.</p>
          </div>
          <div class="intro-comment-change">
            <h3>조창현<span>백엔드</span></h3>
            <p>프로젝트에만 전념하지 못하고 이런저런 다른 일들도 해야하는 상황에서 항상 디코에 하루종일 심지어 새벽까지 모여 있는 모습에 미안함도 많이 느꼈고, 잠깐잠깐 들어가서 참여하고 얼마 못해서 미안하다고 할때마다 괜찮다고 이해해주는 팀원들에게 고마움도 많이 느낀 프로젝트 였습니다. 이렇게 훌륭한 팀원들과 함께할 수 있었다는 것이 행운이었고 다들 교육과정 끝까지 열심히 해서 좋은 결과 있었으면 좋겠습니다!!
            </p>
          </div>
          <div class="intro-comment-change show">
            <h3>김유영<span>팀장</span></h3>
            <p>다들 힘들고 지칠때도 있었지만 규칙처럼 좌절하지 않고 다들 응원하고 서로가 같은 마음으로 하여서 덕분에 좋은 작품을 만들 수 있게 되었습니다. 다들 규칙을 잘 지켜줘서 너무 고맙고 항상 행뽁했으면 좋겠습니다 😉</p>
          </div>
        </div>
        <div>
          <img src="{% static 'labs/img/notebook.png' %}" alt="" style="width: 100%; height: 90%">
        </div>
      </div>
    </div>
  </div>
  <hr style="margin: 0;">
  <!-- 팀 규칙 -->
  <div class="intro-value">
    <div class="container" style="height: 100%">
      <div class="intro-value-wrapper">
        <h4>인텔리랩스 규칙</h4>
        <div class="intro-value-content-wrapper">
          <div class="intro-value-content">
            <h5>좌절 금지</h5>
            <h6>No-Frustration</h6>
            <p>어려워도 좌절하지않고 계속 시도합니다.</p>
          </div>
          <div class="intro-value-content">
            <h5>평등한 호칭</h5>
            <h6>No-Frustration</h6>
            <p>우리는 같은 프로젝트 팀원으로 동등한 위치에서 일합니다.</p>
          </div>
          <div class="intro-value-content">
            <h5>식사시간 절대준수</h5>
            <h6>No-Frustration</h6>
            <p>다 먹고 살려고 하는 일이니 식사시간은 철저히 합니다.</p>
          </div>
          <div class="intro-value-content">
            <h5>원활한 커뮤니케이션</h5>
            <h6>No-Frustration</h6>
            <p>디스코드를 통해 의견 바로 말하고 듣고 있습니다.</p>
          </div>
          <div class="intro-value-content">
            <h5>GIT 컨벤션 준수</h5>
            <h6>No-Frustration</h6>
            <p>깃허브 커밋메시지 컨벤션을 준수하였습니다.</p>
          </div>
          <div class="intro-value-content">
            <h5>자유로운 야근</h5>
            <h6>No-Frustration</h6>
            <p>야근은 자유롭지만 모두 자율적으로 야근에 참여했습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin: 0;">
  <!-- 데일리 스크럼 일지 -->
  <div class="intro-schedule">
    <div class="container intro-schedule-wrapper">
      <div class="row">
        <h4 class="intro-schedule-title px-0 text-black">약 2주간의 인텔리랩스의 모험</h4>
      </div>
      <div class="row">
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.09(수)</h5>
          <p>개발기획 및 정리</p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.10(목)</h5>
          <p></p>
          <p>기본코드 설계 및 모델링</p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.11(금)</h5>
          <p>빼빼로 교환식</p>
          <p>크롤링 구현 시작</p>
          <p>소셜로그인 구현 시작</p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.12(토)</h5>
          <p>공유기능 구현 시작</p>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.13(일)</h5>
          <p>일요일은 좀 쉬자!</p>
          <p></p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.14(월)</h5>
          <p>공유기능 구현 완료!</p>
          <p></p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.15(화)</h5>
          <p>크롤링 구현 완료!</p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.16(수)</h5>
          <p>제품 디테일 페이지 구현 완료!</p>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.17(목)</h5>
          <p>팀장 바지 논쟁</p>
          <p>무한스크롤 구현 완료!</p>
          <p></p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.18(금)</h5>
          <p>소셜로그인 구현 실패 ㅠㅠ</p>
          <p></p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.19(토)</h5>
          <p>제품 필터링 구현 성공!</p>
          <p></p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.20(일)</h5>
          <p>회원등급 구현!</p>
          <p>최초 배포 및 디버깅</p>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.21(월)</h5>
          <p></p>
          <p></p>
        </div>
        <div class="col-3 px-0 intro-schedule-day">
          <div class="intro-schedule-circle"></div>
          <h5>11.22(화)</h5>
          <p>최종발표 및 시상</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin: 0;">
  <!-- 오시는 길 -->
  <div class="intro-map">
    <div class="container">
      <h4>오시는길</h4>
      <div class="row justify-content-center">
        <div id="map" style="height:400px;"></div>
      </div>
      <hr>
      <div class="row py-5">
        <div class="col-4">
          <div class="mb-5">
            <h5>멀티캠퍼스 본사</h5>
            <p>서울특별시 강남구 대치동 889-41</p>
          </div>
          <div>
            <h5>하이퍼그로스 삼성 Office</h5>
            <p>서울 강남구 테헤란로 625 9층</p>
          </div>
        </div>
        <div class="col-4 intro-map-call">
          <h5>고객센터
            <span style="color: rgb(138, 43, 226)" ;=";">1544-9001</span></h5>
          <p>평일 9:00~18:00</p>
          <p>주말/공휴일 10:00~17:00</p>
        </div>
        <div class="col-4 intro-map-call">
          <h5>하이퍼그로스
            <span style="color: rgb(138, 43, 226)" ;=";">070-4130-7878</span></h5>
          <p>평일 9:00~18:00 (점심 12:00~13:00)</p>
          <p>주말/공휴일 휴무</p>
        </div>
      </div>
    </div>
  </div>

{% endblock carousel %}

{% block content %}{% endblock content %}

<!-- 자바스크립트 -->
{% block js %}
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ MAPKEY }}&libraries=services"></script>
  <script src="{% static 'labs/js/intro.js' %}"></script>

  <!-- 카카오지도 -->
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
        center: new kakao
          .maps
          .LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };
    // 지도를 생성합니다
    var map = new kakao
      .maps
      .Map(mapContainer, mapOption);
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao
      .maps
      .services
      .Geocoder();
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('서울 강남구 테헤란로 625', function (result, status) {
      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao
          .maps
          .LatLng(result[0].y, result[0].x);
        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao
          .maps
          .Marker({map: map, position: coords});
        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao
          .maps
          .InfoWindow({content: '<div style="width:150px;text-align:center;padding:6px 0;">하이퍼그로스</div>'});
        infowindow.open(map, marker);
        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
      }
    });
  </script>
{% endblock js %}
