{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'labs/css/main.css' %}">
{% endblock css %}

<!-- 타임특가 정보 <div id="timesale" class="alert alert-danger">5초 이내 구매시 사은품 증정!</div> <div style="overflow: hidden;"></div> -->

<!-- 캐러셀 -->
{% block carousel %}
  <div class="container mb-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'labs/img/sample.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'labs/img/dummy_carosel.webp' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'labs/img/car3.png' %}" class="d-block w-1000" alt="...">
        </div>
      </div>
    </div>
  </div>
{% endblock carousel %}

{% block content %}
  <!-- 카테고리 -->
  <div class="main-category">
    <a href="{% url 'labs:intro' %}">
      <div class="main-category-bg">
        <img src="{% static 'labs/img/laptop.gif' %}" class="main-category-img" alt="">
      </div>
      <p>인텔리랩스를 소개합니다</p>
    </a>
    <a href="{% url 'labs:rating' %}">
      <div class="main-category-bg">
        <img src="{% static 'labs/img/grade.gif' %}" class="main-category-img" alt="">
      </div>
      <p>인텔리랩스 등급</p>
    </a>
    <a href="{% url 'communities:index' %}">
      <div class="main-category-bg">
        <img src="{% static 'labs/img/community.gif' %}" class="main-category-img" alt="">
      </div>
      <p>커뮤니티</p>
    </a>
    <a href="">
      <div class="main-category-bg">
        <img src="{% static 'labs/img/hotsale.gif' %}" class="main-category-img" id='hotDeal' alt="">
      </div>
      <p>특가정보</p>
    </a>
    <a href="">
      <div class="main-category-bg">
        <img src="{% static 'labs/img/hotsale.gif' %}" class="main-category-img" alt="">
      </div>
      <p>미정</p>
    </a>
  </div>

  <!-- 브랜드 카테고리 -->
  <!-- <div class="brand-category-logo">전체</div> <div class="brand-category-logo">삼성</div> <div class="brand-category-logo LG">헬쥐</div> <div class="brand-category-logo">Apple</div> <div class="brand-category-logo">Lenovo</div> <div class="brand-category-logo">Asus</div> <div class="brand-category-logo">Msi</div> <div class="brand-category-logo">Dell</div> <div class="brand-category-logo">한성</div> <div class="brand-category-logo">HP</div>-->
  <div class="brand-category">
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        삼성
        <input type="text" value="삼성" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        LG
        <input type="text" value="LG전자" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        Apple
        <input type="text" value="APPLE" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        Asus
        <input type="text" value="ASUS" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        Lenovo
        <input type="text" value="레노버" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        Msi
        <input type="text" value="MSI" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        DELL
        <input type="text" value="DELL" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo fill" type="submit">
        한성
        <input type="text" value="한성" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo" type="submit">
        GigaByte
        <input type="text" value="GIGABYTE" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'products:index' %}">
      <button class="brand-category-logo" type="submit">
          HP
        <input type="text" value="HP" class="category-value" name="category">
      </button>
    </form>
  </div>

  <!-- 베스트랭킹 -->
  <div class="best-ranking-box">
    <div class='best-ranking'>
      <div class="d-flex justify-content-between">
        <h3>베스트랭킹</h3>
        <img src="{% static 'labs/img/gold1.png'%}">
      </div>
      <div class="best-ten">
        {% for product_10 in products_10 %}
          <a href="{% url 'products:detail' product_10.id %}">
          <a class="now">
            {{ product_10.id}}
            {{ product_10.모델명 }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="best-ranking-products">
      {% for product_10 in products_10 %}
        <!-- 1등 제품 시작-->
        <div class="best-ten-product">
          <div class="card-bodys has_rank">
            <div class="p-2 mt-3" style="width:100%;height:50%">
              <img src="{{ product_10.썸네일 }}" alt="" class='img-fluid'>
            </div>
            <div class="p-3 text-center">
              <p class="card-subtitle mb-2 text-secondary font-weight-bold mt-3">모델명</p>
              <h5 class="card-title fs-6 mt-3">{{ product_10.모델명 }}</h5>
              <p class="card-text">
                <div class="sale-price fw-bold">최저가
                  {{ product_10.가격 | intcomma }}원</div>
              </p>
              <hr class="mb-4">
              <a href="{% url 'products:detail' product_10.id %}" class="btn-color">구매하기</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- MD추천 아이템 -->
  <div class="md-pick">
    <p></p>
    <h3>MD Pick</h3>
  </div>
  <div class="cards">
    <!-- 카드1 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="{% static 'labs/img/키보드.jpeg'%}" alt="" class="img-fluid">
        </div>
        <h5 class="card-title text-center">Mistel 키보드</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">MD770 RGB</h6>
        <p class="card-text">
          <div class="standard-price text-center">
            <span class="text-center">최저가</span><span style="margin-left: 5px; color: blue;">195,000</span>
          </div>
        </p>
        <hr>
        <a href="https://smartstore.naver.com/kuzza/products/4865163014?NaPm=ct%3Dlalah6nc%7Cci%3D49a8c75f80024744e49e0e00c40dcb3a0a5b2825%7Ctr%3Dsls%7Csn%3D159426%7Chk%3D2e972f68614ea415d4564f9de2a51439d1e1c709" class="btn-color d-flex align-items-center">구매하기</a>
        <div class="d-flex justify-content-center">
        <a href="#" class="btn-color">구매하기</a>
        </div>
      </div>
    </div>
    <!-- 카드1 한장 끝 -->
    <!-- 카드2 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="{% static 'labs/img/리전5 프로.jpg'%}" alt="" class="img-fluid region_img">
        </div>
        <h5 class="card-title text-center">레노버 LEGION 5i Pro 16IAH7H I7 STORM 3060 32GB램</h5>
        <h6 class="card-subtitle mb-2 text-muted text-center">82RG0081KR</h6>
        <p class="card-text">
          <div class="standard-price text-center">
            <span class="text-center">최저가</span><span style="margin-left: 5px; color: blue;">1,998,990</span>
          </div>
        </p>
        <hr>
        <a href="https://prod.danawa.com/info/?pcode=17705312&keyword=%EB%A0%88%EB%85%B8%EB%B2%84+%EB%A6%AC%EC%A0%845+%ED%94%84%EB%A1%9C&cate=112758">구매하기</a>
      </div>
    </div>
    <!-- 카드2 한장 끝 -->
    <!-- 카드3 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="http://placeimg.com/150/150/tech" alt="" class="img-fluid">
        </div>
        <h5 class="card-title">제품명</h5>
        <h6 class="card-subtitle mb-2 text-muted">모델명</h6>
        <p class="card-text">
          <div class="standard-price">
            <span>기준가</span>기준가격
          </div>
          <div class="sale-price">
            <span>할인가</span>할인가격</div>
        </p>
        <a href="#" class="btn-color">구매하기</a>
      </div>
    </div>
    <!-- 카드3 한장 끝 -->
    <!-- 카드4 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="http://placeimg.com/150/150/tech" alt="" class="img-fluid">
        </div>
        <h5 class="card-title">제품명</h5>
        <h6 class="card-subtitle mb-2 text-muted">모델명</h6>
        <p class="card-text">
          <div class="standard-price">
            <span>기준가</span>기준가격
          </div>
          <div class="sale-price">
            <span>할인가</span>할인가격</div>
        </p>
        <a href="#" class="btn-color">구매하기</a>
      </div>
    </div>
    <!-- 카드4 한장 끝 -->
    <!-- 카드5 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="http://placeimg.com/150/150/tech" alt="" class="img-fluid">
        </div>
        <h5 class="card-title">제품명</h5>
        <h6 class="card-subtitle mb-2 text-muted">모델명</h6>
        <p class="card-text">
          <div class="standard-price">
            <span>기준가</span>기준가격
          </div>
          <div class="sale-price">
            <span>할인가</span>할인가격</div>
        </p>
        <a href="#" class="btn-color">구매하기</a>
      </div>
    </div>
    <!-- 카드5 한장 끝 -->
    <!-- 카드6 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="http://placeimg.com/150/150/tech" alt="" class="img-fluid">
        </div>
        <h5 class="card-title">제품명</h5>
        <h6 class="card-subtitle mb-2 text-muted">모델명</h6>
        <p class="card-text">
          <div class="standard-price">
            <span>기준가</span>기준가격
          </div>
          <div class="sale-price">
            <span>할인가</span>할인가격</div>
        </p>
        <a href="#" class="btn-color">구매하기</a>
      </div>
    </div>
    <!-- 카드6 한장 끝 -->
    <!-- 카드7 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="http://placeimg.com/150/150/tech" alt="" class="img-fluid">
        </div>
        <h5 class="card-title">제품명</h5>
        <h6 class="card-subtitle mb-2 text-muted">모델명</h6>
        <p class="card-text">
          <div class="standard-price">
            <span>기준가</span>기준가격
          </div>
          <div class="sale-price">
            <span>할인가</span>할인가격</div>
        </p>
        <a href="#" class="btn-color">구매하기</a>
      </div>
    </div>
    <!-- 카드7 한장 끝 -->
    <!-- 카드8 한장 시작 -->
    <div class="card hit-product">
      <div class="card-body">
        <div>
          <img src="http://placeimg.com/150/150/tech" alt="" class="img-fluid">
        </div>
        <h5 class="card-title">제품명</h5>
        <h6 class="card-subtitle mb-2 text-muted">모델명</h6>
        <p class="card-text">
          <div class="standard-price">
            <span>기준가</span>기준가격
          </div>
          <div class="sale-price">
            <span>할인가</span>할인가격</div>
        </p>
        <a href="#" class="btn-color">구매하기</a>
      </div>
    </div>
    <!-- 카드8 한장 끝 -->
  </div>

{% endblock content %}

<!-- 자바스크립트 -->
{% block js %}
  <script src="{% static 'labs/js/main.js' %}"></script>

  <!-- 타임세일 <script> var time = 5; const interval = setInterval(() => { time--; document .querySelector("#timesale") .innerHTML = `${time}초 이내 구매시 사은품 증정!`; if (time === 0) { document .querySelector("#timesale") .classList .add("hide"); clearInterval(interval); } }, 1000); </script>-->

  <!-- <script> const hotDeal = document.querySelector('#hotDeal') setInterval(() => { if (hotDeal.src.includes('color')) { document .querySelector('#hotDeal') .src = "{% static 'labs/img/hotdeal.png' %}" } else { document .querySelector('#hotDeal') .src = "{% static 'labs/img/hotdeal_color.png' %}" } }, 1500) var slideWrap = document.querySelector('slidewrap') </script> -->

{% endblock js %}
