{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'labs/css/rating.css' %}">
{% endblock css %}
{% block content %}
  <div class="info">
    <h2>회원 등급 안내</h2>
    <div>
      <p>회원 등급은 구매, 친구 추천 횟수, 커뮤니티 활동 등 인텔리랩스 활동지수를 바탕으로 구분됩니다.</p>
      <p>등급이 올라갈수록 더해지는 혜택을 확인해 보세요!</p>
      <p>앞으로 더 많은 혜택을 준비하고 있으니 기대만발!</p>
    </div>
  </div>
  <div class="info-rating">
    <ul class="">
      <a href="#" class="btn" role="button" data-bs-toggle="button">i3</a>
      <a href="#" class="btn" role="button" data-bs-toggle="button">i5</a>
      <a href="#" class="btn" role="button" data-bs-toggle="button">i7</a>
    </ul>
  </div>
  <div class="infomation">
    <div class="pc-ver">
      <h1>"1도 몰라도 괜찮아요.
        <br>
        우리, 지금부터 알아가요!"
      </div>
      <div class="member-box">
        <div class="member-benefit">
          <h3>혜택</h3>
          <h5>제품 교육할인가에 구매</h5>
          <h5>커뮤니티 및 이벤트 참여 권한 (일부 한정)</h5>
          <h5>여러 종류의 노트북을 볼 수 있는 기회!</h5>
        </div>
      </div>
      <div class="member-box">
        <div class="member-benefit">
          <h3>등급 선정 기준</h3>
          <div class="member-cont">
            <img src="{% static 'labs/img/animated.png' %}" style="width: 50px " alt="...">
            <h5>간단해요! 인텔리랩스 회원 가입만 하면 1성 자격 자동 부여!</h5>
          </div>
        </div>
      </div>
    {% endblock content %}
