.my_customer_table{
    min-width: 400px;
    font-size: 14px;
}

.my_customer_thread{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
}

.custom_image{
    width: 100px;
    height: 100px;
}

.custom_a{
    text-decoration: none;
}

.custom_icon{
    text-decoration: none;
    color: #868e96 !important;
}

.my_customer_button{
    margin-top: 5px;
}



.card-body {
    background-image: linear-gradient(to bottom, #f1f4f9 40%, #F0F8FF 60%);
  }
  
  .navbar {
    background-image: linear-gradient(to top, #f1f4f9 40%, #F0F8FF 60%);
  }