main {
    min-height: 90vh;
}

html {
    scroll-behavior: smooth;
}

.navbar-img {
    font-size: 19px;
}

#navbar {
    transition: all 0.6s;
}

.a_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    background: transparent;
    height: 100%;
}

.category-value {
    display: none;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
    visibility: hidden; /* 애니메이션 줄때 display: none 대용 */
    opacity: 0;
    transition: all 0.6s;
}

.white-bg {
    background: #e6eaf5;
    padding: 4rem;
    padding-top: 2rem;
}

.white-bg div {
    margin-bottom: 1rem;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.navbar-product {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link-light {
    text-decoration: none;
}

#cart {
    width: 30px;
    height: 30px;
}

#cart i {
    height: 32px;
    vertical-align: auto;
}

/* 로그인 */
.profile-black-bg-login {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.profile-black-bg-login .container {
    position: relative;
}

.profile-bg-login {
    background: #e6eaf5;
    position: absolute;
    right: 0%;
    z-index: 9;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-user-login {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.profile-bg-login div hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-bg-login p {
    text-align: center;
}

.profile-bg-login p a {
    margin-bottom: 8px;
    margin-top: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: black;
}

.nav-detail-login {
    padding: 0;
}

.nav-detail-login a {
    /* margin-bottom: 10px; */
    margin-left: 3px;
    font-size: 14px;
}

/* 비로그인 */
.profile-black-bg-none {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.profile-black-bg-none .container {
    position: relative;
    z-index: 7;
}

.profile-bg-none {
    background: #e6eaf5;
    position: absolute;
    right: 0%;
    z-index: 9;
    width: 7rem;
    height: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.profile-bg-none div {
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
}

.profile-bg-none p a {
    margin-bottom: 8px;
}

.nav-detail-none {
    padding: 0;
}

.nav-detail-none a {
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 14px;
}

/* 검색창 */
.search {
    display: flex;
    justify-content: center;
    position: relative;
}

.input_form {
    border: 0.1rem solid #cdcdcd;
    border-radius: 5rem;
    margin-right: 0.5rem;
    padding: 1.2rem 1.5rem;
    width: 50%;
}

.button {
    background-color: transparent;
    border: 0;
    border-radius: 0.5rem;
    position: absolute;
    right: 26%;
    top: 0.8rem;
    width: 40px;
    height: 40px;
}

.button img {
    opacity: 70%;
    width: 60%;
    height: 60%;
}

#searchForm {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 8;
    transition: all 0.6s;
}

.search-bg-white {
    background: #e6eaf5;
    padding: 2rem;
    padding-top: 2rem;
}

.search-cancel {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e6eaf5;
    position: relative;
    left: 50%;
    text-align: center;
    margin-top: 15px;
}

.search-cancel img {
    width: 50%;
    height: 50%;
}

/* 햄버거 */
.hamburger {
    position: fixed;
    bottom: 9%;
    right: 4%;
    width: 30px;
    height: 30px;
    background-color: rgb(205, 205, 255);
    border-radius: 50%;
    z-index: 20;
    text-align: center;
    padding-top: 0.2px;
    border: 1px solid white;
}

.hamburger img {
    width: 70%;
    height: 70%;
}

.hamburger-click-x {
    position: fixed;
    bottom: 9%;
    right: 4%;
    width: 30px;
    height: 30px;
    background-color: rgb(205, 205, 255);
    border-radius: 50%;
    z-index: 20;
    text-align: center;
    padding-top: 0.2px;
    border: 1px solid white;
    visibility: hidden;
    transition: all 0.6s;
}

.hamburger-click-x img {
    width: 70%;
    height: 70%;
}

.hamburger-click-up {
    position: fixed;
    bottom: 9%;
    right: 4%;
    width: 30px;
    height: 30px;
    background-color: rgb(205, 205, 255);
    border-radius: 50%;
    z-index: 20;
    text-align: center;
    border: 1px solid white;
    padding-bottom: 5px;
    visibility: hidden;
    transform: translateY(0%);
    transition: all 0.6s;
}

.hamburger-click-up img {
    width: 70%;
    height: 70%;
}

.hamburger-click-down {
    position: fixed;
    bottom: 9%;
    right: 4%;
    width: 30px;
    height: 30px;
    background-color: rgb(205, 205, 255);
    border-radius: 50%;
    z-index: 20;
    text-align: center;
    border: 1px solid white;
    padding-bottom: 5px;
    visibility: hidden;
    transform: translateY(0%);
    transition: all 0.6s;
}

.hamburger-click-down img {
    width: 70%;
    height: 70%;
}

.rate{
    background-color: #a551fa;
    color: white;
    border-radius: 0.3rem;
    padding: 0.01rem 0.4rem 0.01rem 0.4rem;
    letter-spacing: 0.1px;
    font-size: large;
    text-decoration: none;
}
