main {
    min-height: 90vh;
}

.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 6;
    visibility: hidden; /* 애니메이션 줄때 display: none 대용 */
    opacity: 0;
    transition: all 0.6s;
}

.white-bg {
    background: #e6eaf5;
    padding: 4rem;
    padding-top: 2rem;
    height: 60%;
}

.white-bg div {
    margin-bottom: 1rem;
}

.show-modal {
    visibility: visible;
    opacity: 1;
}

.navbar-product {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.link-light {
    text-decoration: none;
}

#cart {
    width: 30px;
    height: 30px;
}

#cart i {
    height: 32px;
    vertical-align: auto;
}

.profile-black-bg-login {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.profile-black-bg-login .container {
    position: relative;
}

.profile-bg-login {
    background: #e6eaf5;
    position: absolute;
    right: 0%;
    z-index: 9;
}

.profile-black-bg-none {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.profile-black-bg-none .container {
    position: relative;
    z-index: 7;
}

.profile-bg-none {
    background: #e6eaf5;
    position: absolute;
    right: 0%;
    z-index: 9;
}
