.detail-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.show-detail {
    overflow: visible;
    height: 100%;
}

.choice1 {
}
.choice2 {
}

.sidebar-wrapper {
    min-width: 20%;
    padding-right: 10px;
    height: 20%;
}

.sidebar-0,
.sidebar-1,
.sidebar-2,
.sidebar-3,
.sidebar-4,
.sidebar-5,
.sidebar-6 {
    padding: 5px 0px 0rem;
    padding-right: 10px;
    margin-bottom: 1rem;
}

.sidebar-1-size,
.sidebar-1-resolution,
.sidebar-3-AMD,
.sidebar-3-intel,
.sidebar-3-apple,
.sidebar-4-external {
    margin-bottom: 5px;
}

.sidebar-brand,
.sidebar-display,
.sidebar-weight,
.sidebar-processor,
.sidebar-graphic,
.sidebar-storage,
.sidebar-price {
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px;
    font-size: 1.2rem;
}

.sidebar-size,
.sidebar-resolution,
.sidebar-AMD,
.sidebar-intel,
.sidebar-apple,
.sidebar-external {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar-detail {
    font-size: 0.9rem;
    padding: 5px 0px 3px 10px;
}

/* .product-brand-banner {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    background: #e6eaf5;
    align-items: center;
  } */

.visual {
    height: 360px;
    width: 100%;
}

.main_image {
    position: relative;
}

.main_text {
    position: absolute;
    top: 50%;
    left: 5%;
    padding: 0 5.208vw;
    width: 1392px;
    line-height: 1;
    margin: 0 auto;
    font-weight: 700;
    font-size: 2.656vw;
    /* transform: translate( -20%, -20%); */
    color: black;
}

.box {
    border: 1px solid black;
    border-color: green;
}

.btns {
    outline: none;
}

.product-brand-banner-name {
    width: 45%;
    align-items: center;
    text-align: center;
}

/* .product-brand-banner-img {
    z-index: 1;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.5) 25%,
        rgba(255, 255, 255, 0.7) 40%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 1) 100%
    );
  } */

aside {
    min-width: 20%;
}

.main {
    display: flex;
    justify-content: center;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 15px;
}

.card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
    line-height: 1.5rem;
    padding: 0 50px 20px 50px;
}

.detail-search {
    padding-left: 1.6667vw;
    font-weight: 700;
    letter-spacing: -0.01em;
    background-size: 1px;
    background: url(https://www.samsungebiz.com/sec/static/_images/icon_dps/icon_search_options.svg) no-repeat 0;
}

.box-result {
    padding-top: 20px;
    display: flex;
}

.now {
    /* margin-left: 12px; */
    color: rgb(147, 112, 219);
}

.search-result {
    padding-left: 10px;
    background: url(https://www.samsungebiz.com/sec/static/_images/bg/wavelet_1x16.jpg) no-repeat 0 center;
}

.main-text {
    font-weight: bold;
}

.image {
    max-width: 100%;
    height: 290px;
}

.card-title {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.model-text {
    text-align: center;
    height: 200px;
}

.btn-color {
    background-color: rgb(147, 112, 219);
    text-decoration: none;
    font-size: 1rem;
    color: white;
    border-radius: 1.5rem;
    text-align: center;
    padding: 10px 50px;
    border-style: none;
    justify-content: center;
}
.btn-color:hover {
    color: black;
    background-color: white;
}
.shop-tag {
    height: 36px;
    /* border-radius: 10px 0 10px 0; */
    font-size: 9px;
    font-weight: bold;
    color: rgb(147, 112, 219);
    /* background-color: rgb(147, 112, 219); */
    white-space: normal;
    text-align: center;
    /* box-sizing: border-box; */
    /* position: relative; */
    /* z-index: 1; */
    left: 0px;
    right: 0px;
    top: 0;
    padding: 8px;
    font-size: 12px;
    font-family: sans-serif;
}

.class-font {
    font-size: 20px;
    font-weight: 700 !important;
    margin-bottom: 0;
}

.bi-bookmark {
    font-size: 27px;
    line-height: 27px;
}

.bi-bookmark-fill {
    font-size: 27px;
    line-height: 27px;
}

.infinite-item {
    height: 530px;
}

.store {
    float: left;
    font-weight: bold;
    font-size: 14px;
    color: rgb(147, 112, 219);
    letter-spacing: 0;
}

.manu_name {
    color: #f7f7f7;
    background-color: black;
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

.loading-state {
    display: flex;
    justify-content: center;
}
