.detail-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.sidebar-wrapper {
    padding-right: 2rem;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0px 1rem;
    padding-right: 10px;
}

.sidebar-detail {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.product-brand-banner {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    background: #e6eaf5;
    align-items: center;
}

.product-brand-banner div {
    height: 100%;
}

.product-brand-banner img {
    height: 100%;
    background: linear-gradient(to right, yellow, red);
}

.product-brand-banner-name {
    width: 45%;
    align-items: center;
    text-align: center;
}

.product-brand-banner-img {
    z-index: 1;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 10%,
        rgba(255, 255, 255, 0.5) 25%,
        rgba(255, 255, 255, 0.7) 40%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 1) 100%
    );
}

aside {
    min-width: 20%;
}

.main {
    display: flex;
    justify-content: center;
}

.product-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    border-radius: 15px;
}

.product-card-body div {
    padding: 10px;
}
