.card-body {
  background-image: linear-gradient(to top, rgb(252, 252, 252) 35%, #F0F8FF 65%);
}

.navbar {
  background-image: linear-gradient(to bottom, rgb(253, 253, 252) 25%, #F0F8FF 75%);
}


.pg-location {
  display: block;
  width: 100%;
  border-top: 1px solid #ebebeb;
  overflow: hidden;
  z-index: 1;
}
/* 
@media (max-width: 1440px) and (min-width: 1281px)  */
/* .pg-location-inner {
  max-width:100vw;
  height: 3.4722vw;
  line-height: 3.4722vw;
  padding: 0 1.6667vw;
} */

.pg-location-inner {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* .pg-location a, .pg-location span {
  font-size: 0.9028vw;
  margin-right: 2.4306vw;
} */

.pg-location a .pg-location span {
  position: relative;
  display: inline-block;
  height: 100%;
  color: #8f8f8f;
}

.pg-location a::before,
.pg-location span::before {
  position: absolute;
  top: 50%;
  background: url(https://www.samsungebiz.com/sec/static/_images/common/icon-location-bulet.png)
    no-repeat;
  transform: translateY(-50%);
  content: "";
}

.cate_btn {
  text-decoration:none; 
  background-color: rgb(255, 255, 255);
  color:gray;
  font-size: 15px;
  border: 0;
  outline: 0;
}

.itm-information {
  position: relative;
  float: right;
  width: 100%;
  max-width: 472px;
  min-height: 680px;
  padding: 50px 46px 46px;
  background-color: #fff;
  border-radius: 23px;
  box-sizing: border-box;
  margin-right: 12px;
  margin-top: 7px;
}

.itm-info-head {
  position: relative;
  padding-bottom: 28px;
}

.itm-flag {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 66px);
  align-content: center;
  justify-content: flex-start;
  min-height: 18px;
  margin-bottom: 18px;
}

.flag-tag {
  display: inline-block;
  margin-right: 12px;
  color: rgb(147, 112, 219);
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.social-box {
  position: absolute;
  right: 0;
  top: -5px;
}

.itm-info-head .social-box .ico-share {
  background-size: 22px !important;
}

.ico-large {
  width: 26px;
  height: 26px;
}

.ico-share {
  background-image: url(https://www.samsungebiz.com/sec/static/_images/common/icon-share.svg);
}

.icon {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.btn-sns-link {
  border: none;
  background-color: transparent;
}

.on > .ico-goods {
  background-image: url(https://www.samsungebiz.com/sec/static/_images/common/icon-heart-black.svg);
}

.icon-heart {
  vertical-align: middle;
  font-size: 20px;
  line-height: 26px;
  color: crimson;
}

.btn-good {
  border: none;
  background-color: transparent;
}

.itm-info-title {
  margin: 0 0 10px 0;
  color: #000;
  font-family: sans-serif;
  line-height: 34px;
  font-size: 28px;
  font-weight: bold;
  display: -webkit-box;
}

.b2c-itm-sku .b2c-itm-rating {
  float: none;
}

.itm-sku {
  font-size: 14px;
  color: #767676;
}

.itm-rating-con {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.itm-rating {
  font-size: 14px;
  color: #767676;
  position: relative;
  z-index: 1;
}

.itm-sart-rating {
  display: inline-block;
}

.itm-sart-rating span {
  display: inline-block;
  margin-left: 5px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  vertical-align: top;
}

.star-gray {
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
  background: url(https://www.samsungebiz.com/sec/static/_images/common/icon-star-gray.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.itm-review-count {
  margin-bottom: 20px;
  margin-left: 10px;
  color: #767676;
  font-size: 14px;
  line-height: 16.8px;
  text-decoration: none;
}

.itm-review span {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  color: #212425;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 0;
}

.itm-review span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(https://www.samsungebiz.com/sec/static/_images/common/icon-review-write.svg)
    center center no-repeat;
  background-color: black;
  background-size: 100% auto;
}

.itm-review .itm-review-write > a {
  font-size: 14px;
}

.btn-underline {
  display: inline-block;
  line-height: 1.27em;
  margin: 0 4px;
  font-weight: bold;
  letter-spacing: -0.07px;
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.itm-info-head::after {
  content: "";
  display: block;
  clear: both;
}

.itm-price {
  min-height: 25px;
  background-color: #fff;
  margin-top: 20px;
}

input::not([type="checkbox"]):not([type="radio"]) {
  font-family: sans-serif;
}

.itm-price dl {
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}

.itm-price dt {
  font-size: 16px;
  line-height: 16px;
  color: #707070;
  margin-bottom: 11px;
}

.itm-price .has_strike dd {
  position: relative;
}

.itm-price dd {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

.itm-price dd {
  color: #707070;
  text-align: right;
  margin-left: auto;
}

.has_strike {
  margin-bottom: 1px;
}

.itm-price .has_strike dd::before {
  height: 16px;
  top: 12px;
  left: -10px;
  right: 0;
  background: url(https://www.samsungebiz.com/sec/static/evt/_images/bg/bg-price.svg)
    no-repeat left;
  display: block;
}

.itm-price .has_strike dd::before {
  content: "";
  position: absolute;
}

.itm-price .has_strike dd::after {
  height: 1px;
  background: #99c3ff;
  right: 0;
  top: 50%;
  left: 0;
}

.has_strike dd::after {
  content: "";
  position: absolute;
}

.itm-price dl.event-price {
  margin-top: 2px;
  align-items: flex-start;
}

.itm-price dl {
  position: relative;
  display: flex;
}

.itm-price dt {
  font-size: 16px;
  line-height: 16px;
  margin-top: 4px;
  color: #707070;
}

.itm-price .event-price dd span {
  margin-right: 2px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  line-height: 30px;
  text-decoration: none;
  font-family: sans-serif;
}

.itm-option-choice {
  padding: 30px 24px;
  margin-top: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-sizing: border-box;
}

.itm-option-choice dl:first-child {
  margin-top: 0;
}

.itm-option-choice dl {
  position: relative;
}

.itm-option-choice dt {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
}

span {
  vertical-align: middle;
}

.itm-option-choice dd {
  margin-left: 100px;
}
.dropOption {
  position: relative;
  padding-bottom: 10px;
}

.itm-color-object {
  position: relative;
  display: inline-block;
  width: 16px;
  margin: 7px 10px 4px 4px;
  font-size: 0px;
  height: 16px;
  color: transparent;
  border-radius: 50%;
  vertical-align: top;
  box-sizing: border-box;
}

.itm-color-object::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: 22px;
  height: 22px;
  border: 1px solid #000;
  border-radius: 50%;
}

.selectedOption {
  display: inline-block;
  width: 80%;
  color: #151515;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  vertical-align: middle;
}

.itm-buy-area .count-show-box {
  display: flex;
  align-items: center;
}

.itm-option-choice dl {
  position: relative;
  margin-top: 35px;
  margin-bottom: 0;
}
.itm-option-choice dt {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  font-size: 16px;
  line-height: 21px;
  color: #707070;
}

.itm-option-choice dd {
  margin-left: 100px;
}

.itm-option-choice .spinner-box {
  margin-top: -4px;
}

.spinner-box .count-miner {
  left: 0;
  top: 0;
  background: url(https://www.samsungebiz.com/sec/static/_images/common/icon-miner.svg)
    #fff no-repeat center center;
  border-right: 1px solid #b2b2b2;
}

.spinner-box .count {
  position: absolute;
  display: block;
  width: 32px;
  height: 100%;
  font-size: 0;
}

.pd-spinner {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 95px;
  height: 28px;
  line-height: 28px;
  padding: 0 32px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  overflow: hidden;
}

.spinner-box {
  position: relative;
  display: inline-block;
  width: 50%;
  max-width: 170px;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}

a {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 100%;
  background: transparent;
}

.blind {
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  left: 0;
}

input[type="text"],
input[type="password"] {
  height: 35px;
  border: 1px solid #ccc;
  text-indent: 10px;
  color: #757575;
  font-size: 13px;
  box-sizing: border-box;
}

input[type="text"] {
  -webkit-appearance: none;
  background-color: #fff;
  height: 26px;
  vertical-align: middle;
  border-radius: 0;
  width: 100%;
}

.pd-spinner .number {
  display: block;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 0;
  text-indent: 1px;
}

.spinner-box .number {
  display: block;
  height: 40px;
  line-height: 4-px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-align: center;
  border: none;
  text-indent: 0;
}

.spinner-box .count-plus {
  right: 0;
  top: 0;
  background: url(https://www.samsungebiz.com/sec/static/_images/common/icon-plus.svg)
    #fff no-repeat center center;
  border-left: 1px solid #b2b2b2;
}

label {
  cursor: default;
}

.itm-total-bottom .box-cto {
  font-size: 0;
  text-align: center;
}

.ol,
ul,
li {
  list-style: none;
}

.itm-total-bottom .box-cto ul li {
  float: left;
  width: 50%;
}

.itm-total-bottom .box-cto .btn-l {
  min-width: 185px;
  margin: 0;
}

.itm-total-bottom .box-cto .btn-k {
  min-width: 185px;
  margin: 0;
  height: 50px;
}

.btn.btn-type6 {
  color: #707070;
  border-color: #707070;
  background: #fff;
  border-width: 2px;
}
.btn.btn-l {
  background: #fff;
  background-color: #fff;
  border-radius: 30px;
  font-weight: bold;
}

.btn.btn-k {
  background-color: rgb(147, 112, 219);
  border-radius: 30px;
  font-weight: bold;
  color: white;
}

.btn {
  border: 2px solid #99c3ff;
  color: #99c3ff;
  background: #fff;
  opacity: 1;
}

.btn-l {
  min-width: 150px;
  height: 50px;
  line-height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  border: 2px solid;
  border-radius: 30px;
}

/* .btn{
  display: inline-block;
  margin: 0 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(33, 36, 37, .6);
  background: #fff;
  overflow: hidden;
  font-family: sans-serif;
} */

.itm-total-bottom {
  position: relative;
  left: -7%;
}

.btns {
  border: none;
}

/*slider */

.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
