{% extends 'base1.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/detail.css' %}">
{% endblock css %}

{% block content %}
  {% if messages %}
    <div class="messages container" style="background-color: #d5caff;">
      {% for message in messages %}
        <div class="d-flex alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="container">
    <h2 class="title">
      {% if request.user.image %}
        <img src="{{ request.user.image.url }}" alt="" style="width: 50px; height: 50px; border-radius: 500px">
      {% endif %}
      <span class="user">{{user}}</span>
      님의 정보</h2>

    <div class="infos d-flex align-items-center">
      <div class="small_info">
        <!-- {{ user.pk }}-->
        <div>
          <div class="name">
            {{ user.first_name }}
            {{ user.last_name }}
            <span class="rate mx-2">{{user.회원등급}}</span>
          </div>
        </div>
        <p class="mt-3">{{ user.email }}</p>
        <p style="color: black;">현재 포인트:
          {{user.point}}P</p>
      </div>

      {% if request.user.pk == user.pk %}
        <!-- <div> <span class="rating mx-3">{{user.회원등급}}</span> <p class="mx-3">현재 포인트: {{user.point}}p</p> </div> -->
        <div class="user_buttons">
          <button>
            <a href="{% url 'accounts:profile' %}">프로필<br>사진 설정</a>
          </button>
          <button>
            <a href="{% url 'accounts:update' %}">프로필<br>정보 수정</a>
          </button>
          <button>
            <a href="{% url 'accounts:change_password' %}">비밀번호<br>수정</a>
          </button>
        </div>
      {% endif %}
    </div>

    <hr class="hr">
    <div class="bookmarked">
      <p class="bookmarked_p">찜한 노트북</p>
      <p class="explanation">*제조사 이름을 누르면 해당 노트북의 자세한 정보를 볼 수 있습니다.</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">제조사</th>
            <th scope="col">모델명</th>
            <th scope="col">가격</th>
          </tr>
        </thead>
        {% for product in user.like_user.all %}
          <tbody>
            <tr>
              <th scope="row">
                <a href="{% url 'products:detail' product.pk %}">
                  {{ product.제조회사 }}</a>
              </th>
              <td>{{ product.모델명 }}</td>
              <td>{{ product.가격 }}</td>
            </tr>
          </tbody>
        {% endfor %}
      </table>
    </div>
    <hr class="hr">
    <div class="bookmarked">
      <p class="bookmarked_p">추천 게시글</p>
      <p class="explanation">*사용자의 추천 게시글을 볼 수 있습니다.</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">제목</th>
            <th scope="col">내용
              <th></tr>
            </thead>
            {% for article in user.like_articles.all %}
              <tbody>
                <tr>
                  <th scope="row">
                    <a href="{% url 'communities:detail' article.pk %}">
                      {{ article.title }}</a>
                  </th>
                  <td>{{ article.content }}</td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
        <hr class="hr">
        <div class="bookmarked">
          <p class="bookmarked_p">제품 리뷰</p>
          <p class="explanation">*사용자가 쓴 제품 리뷰를 볼 수 있습니다.</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">제조회사</th>
                <th scope="col">모델명</th>
                <th scope="col">리뷰</th>
              </tr>
            </thead>
            {% for reviews in user.review_set.all %}
              <tbody>
                <tr>
                  <th scope="row">
                    <a href="{% url 'products:detail' reviews.products.pk %}">
                      {{ reviews.products.제조회사 }}</a>
                  </th>
                  <td>{{ reviews.products.모델명 }}</td>
                  <td>{{ reviews.content }}</td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
        <hr class="hr">
        <div class="bookmarked">
          <p class="bookmarked_p">커뮤니티</p>
          <p class="explanation">*사용자가 쓴 커뮤니티 글을 볼 수 있습니다.</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">제목</th>
                <th scope="col">카테고리</th>
                <th scope="col">내용</th>
              </tr>
            </thead>
            {% for article in user.articles_set.all %}
              <tbody>
                <tr>
                  <th scope="row">
                    <a href="{% url 'communities:detail' article.pk %}">
                      {{ article.title }}</a>
                  </th>
                  <td>{{ article.category }}</td>
                  <td>{{ article.content }}</td>
                </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>

      {% endblock content %}
