{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static '/accounts/css/signup.css'%}">
{% endblock css %}
{% block content %}
  <!--회원가입 폼-->
  <section>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
      <div class="square" style="--i:0;"></div>
      <div class="square" style="--i:1;"></div>
      <div class="square" style="--i:2;"></div>
      <div class="square" style="--i:3;"></div>
      <div class="square" style="--i:4;"></div>
      <div class="container1">
        <div class="form1 d-flex flex-column align-items-center">
          <h2>회원가입</h2>
          <form class="all-form" action="{% url 'accounts:signup' %}" method="POST">
              {% csrf_token %}
              <div class="inputBox1">
                <p class="sign mb-1">성</p>
                {{ form.first_name }}
                {% comment %} 
                <input type="text" placeholder="" name="first_name"> 
                {% endcomment %}
              </div>
              <div class="inputBox1">
                <p class="sign mb-1">이름</p>
                {{ form.last_name }}
                {% comment %} 
                <input type="text" placeholder="" name="last_name"> 
                {% endcomment %}
              </div>
              <div class="inputBox1">
                <p class="sign mb-2"><span style="color:red;">*</span>아이디</p>
                {{ form.username }}
                {% comment %} 
                <input type="text" placeholder="아이디를 입력해주세요" name="username"> 
                {% endcomment %}
              </div>
              <div class="inputBox1">
                <p class="sign mb-2">이메일</p>
                {{ form.email }}
                {% comment %} <input type="text" placeholder="예:intellilaps@gmail.com" name="email"> {% endcomment %}
              </div>
              <div class="inputBox1">
                <p class="sign mb-2"><span style="color:red;">*</span>비밀번호</p>
                {{ form.password1 }}
              </div>
              <div class="inputBox1">
                <p class="sign mb-2"><span style="color:red;">*</span>비밀번호 확인</p>
                {{ form.password2 }}
              </div>
              <div class="mt-3 text-center">
                <span style="font-size:16px;"><span style="color:red;">*</span>표시는 필수적으로 입력해주셔야 가입이 가능합니다.</span>
              </div>

              <div class="inputBox1_button d-flex justify-content-center">
                <input type="submit" class="form-control form-control-lg" value="회원가입">
              </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
