/* 카테고리 */
.main-category {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.7rem;
    margin: 20px;
}

.main-category p {
    padding-top: 10px;
    margin-bottom: 0;
}

.main-category div {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid rgb(205, 205, 255);
}

.main-category a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.main-category-img {
    padding-top: 28px;
    width: 75%;
    height: 75%;
}
/* 카테고리 종료 */

/* 브랜드 카테고리 */
.brand-category {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    margin: 10px;
}

.brand-category-logo {
    background-color: rgb(205, 205, 255);
    font-weight: 700;
    font-size: 1.5rem;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    margin: 20px 5px 20px;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 13px;
}

.brand-category-logo img {
    width: 100%;
    height: 100%;
}

/* 베스트랭킹 */
.best-ranking-box {
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
    max-height: 330px;
}

.best-ranking {
    min-width: 25%;
    background-color: rgb(205, 205, 255);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best-ranking h3 {
    color: white;
    margin: 15px;
    font-size: 1.25rem;
    font-weight: 700;
}

.best-ten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 5px;
    border-radius: 1rem;
    font-size: 0.8rem;
    height: 75%;
}

.best-ten a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 2px 6px 2px;
}

.best-ranking-products {
    display: flex;
    margin-left: 13px;
    width: 200vw;
}

.best-ten-product {
    margin-left: 13px;
    height: 100%;
    min-width: 25%;
}

.best-ten-product .card-body {
    height: 100%;
    padding: 0;
}

/* .container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
} */

.md-pick {
    text-align: center;
    background: rgb(205, 205, 255);
    border-radius: 10px;
    margin-top: 20px;
    height: 100px;
    position: relative;
}

.md-pick h3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    color: white;
}

.slide-container {
    width: 300vw;
    height: 700px;
    transition: all 1s;
}

.slide-box {
    width: 100vw;
    height: 100%;
    float: left;
}

.slide-box img {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.hit-product {
    width: 33%;
}

.btn-color {
    background-color: rgb(205, 205, 255);
    text-decoration: none;
    font-size: 1rem;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    border-style: none;
}
