/*  */
body {
  background: rgb(219, 219, 255);
}

.info{
  text-align: center;
  margin: 2;
}

.info h2{
  margin-top: 30px;
  position: relative;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: rgb(205, 205, 255);;
}

.info h2 + div > p {
  font-size: 18px;
  line-height: 30px;
}

.info-rating{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.info-rating ul{
  flex-direction: column;
  margin: auto;
}

.info-rating ul > a {
  color: rgb(252, 251, 253);
  background-color:  rgb(205, 205, 255);
  width: 150px;
  margin-bottom: 30px;
}

.infomation {
  height: 100%;
  width: 100%;
  background-color: rgb(233, 233, 253);
  border-radius: 20px;
  padding: 45px 50px;
  text-align: center;
}

.member-box {
  margin-top: 30px;
  display: inline-block;
	vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 2px solid rgb(205, 205, 255);
  border-radius: 20px;
  background: #fff;
  height: 190px;
  position: relative;
  padding: 30px;
}

.member-box .memver-benefit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.member-box h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  min-width: 94px;
  height: 40px;
  padding: 0 16px;
  font-size: 22px;
  background:  rgb(205, 205, 255);
  color: #fff;
  border-radius: 20px;
  line-height: 38px;
  text-align: center;
}

.member-benefit h5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  position: relative;
  font-size: 23px;
  line-height: 32px;
  padding-left: 20px;
}