{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock css %}
    {% block title %}{% endblock title %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" href=" {% static 'img/123.png'%} ">
    <title>Intellilabs</title>
  </head>


  <body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <!-- 네비게이션바 -->
    <nav style="background-image: linear-gradient(to bottom, rgb(253, 253, 252) 25%, #f0f8ff 75%);" class="navbar navbar-expand-lg sticky-top navbar-color" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'labs:main' %}">
          <img src="{% static 'labs/img/123.png' %}" style="width: 44px; height:40px;" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-black" href="{% url 'labs:intro' %}">INTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-black" href="{% url 'labs:rating' %}">GRADE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'communities:index' %}">COMMUNITY</a>
            </li>
            <li class="nav-item " id="navbarProduct">
              <a class="nav-link text-black" href="{% url 'products:index' %}">CATEGORY</a>
            </li>
            <!-- 어드민만 보이는 회원목록 -->
            {% if request.user.is_superuser == 1 %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:index' %}">회원정보 목록</a>
              </li>
            {% endif %}
          </ul>

          <!-- 검색, 장바구니, 계정 -->
          <div class="d-flex">
            <lord-icon src="https://cdn.lordicon.com/xfftupfv.json" trigger="click" style="width:32px;height:32px" type="submit" id="search-click"></lord-icon>
            <a id="cart" class="nav-link mx-3" href="{% url 'cart:detail' %}">
              <i class="bi bi-cart3" style="font-size: 28px; line-height: 28px;"></i>
            </a>
            <div id="login">
              {% if request.user.is_authenticated %}
                <img src="{% static 'img/login_ing.png' %}" id="loginIng" alt="" width="30px" height="30px">
              {% else %}
                <img src="{% static 'img/login_none.png' %}" id="loginNone" class="" alt="" width="30px" height="30px">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--검색-->
    <div class="search-bg-black" id="searchForm" style="visibility: hidden; opacity: 0;">
      <div class="search-bg-white">
        <form class="search" action="{% url 'labs:search' %}">
          <input class="input_form" type="search" placeholder="검색" name="search" aria-label="Search" id="search" required="required">
          <button class="button" type="submit"><img src="https://cdn-icons-png.flaticon.com/512/16/16492.png" alt="검색 아이콘" style="width:20px; height:20px; line-height: 20px;"></button>
        </form>
      </div>
      <div class="search-cancel"><img src="{% static 'img/cancel.png' %}" alt=""></div>
    </div>

    <!-- 프로필 (로그인) -->
    <div class="profile-black-bg-login" style="visibility: hidden; opacity: 0;">
      <div class="container">
        <div class="profile-bg-login">
          <div class="nav-user-login">
            <p class="nav-link mb-0 fw-bold">
              {% if request.user.image %}
                <img src="{{ request.user.image.url }}" alt="" style="width: 30px; height: 28px; border-radius: 500px">
              {% endif %}
              <a href="#">{{ request.user }}님 안녕하세요!</a>
            </p>
            <hr>
            <div class="nav-detail-login">
              <a>등급: </a><a class="rate" href="#">{{ user.회원등급 }}</a><a class="rate">{{user.point}}P</a>
              {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'accounts:detail' request.user.pk %}">회원정보 관리</a>
              {% endif %}
              <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 프로필 (비로그인) -->
    <div class="profile-black-bg-none" style="visibility: hidden; opacity: 0;">
      <div class="container">
        <div class="profile-bg-none">
          <div class="nav-detail-none">
            <p class="nav-link mb-0 fw-bold">
              <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
            </p>
            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 제품목록 -->
    <div class="black-bg">
      <div class="white-bg" id="listGroup">
        <div class="container">
          {% comment %} <div>
            <a href="{% url 'products:index' %}" class="navbar-product">전체</a>
          </div> {% endcomment %}
          <h4 class="mb-3">브랜드</h4>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img"  style="">삼성</div>
              <input type="text" value="삼성" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">LG</div>
              <input type="text" value="LG전자" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">Apple</div>
              <input type="text" value="APPLE" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">ASUS</div>
              <input type="text" value="ASUS" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">Lenovo</div>
              <input type="text" value="레노버" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">MSI</div>
              <input type="text" value="MSI" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">DELL</div>
              <input type=" text" value="DELL" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">한성</div>
              <input type="text" value="한성" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">GIGABYTE</div>
              <input type="text" value="GIGABYTE" class="category-value" name="category">
            </button>
          </form>
          <form action="{% url 'products:index' %}">
            <button type="submit" class="a_menu">
              <div class="navbar-img" style="">HP</div>
              <input type="text" value="HP" class="category-value" name="category">
            </button>
          </form>
        </div>
      </div>
    </div>


    <!-- 타임특가정보 -->
    {% block timesale %}{% endblock timesale %}

    <!-- 캐러셀 -->
    {% block carousel %}{% endblock carousel %}

    <!-- 메인 내용 -->
    <main class="container">
      {% block content %}{% endblock content %}
    </main>

    <!-- 위/아래로 -->
    <div class='hamburger'>
      <img src="{% static 'img/ham.png' %}" alt="">
    </div>
    <div class='hamburger-click-x'>
      <img src="{% static 'img/x.png' %}" alt="">
    </div>
    <div class='hamburger-click-up'>
      <img src="{% static 'img/up.png' %}" alt="">
    </div>
    <div class='hamburger-click-down'>
      <img src="{% static 'img/down.png' %}" alt="">
    </div>

    <!-- 푸터2 -->
    <!-- <footer> <div>아이콘 출처 : <a href="https://www.flaticon.com/kr/free-animated-icons/" title="컴퓨터 애니메이션 아이콘">컴퓨터 애니메이션 아이콘 제작자: Freepik - Flaticon</a> </div> </footer> -->
    
    <!-- 스크립트 -->
    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const navbarProductClick = document.querySelector('#navbarProduct')
      const listGroup = document.querySelector("#listGroup")
      const navbar = document.querySelector("#navbar")
      const blackBg = document.querySelector('.black-bg')
      const profileBlackBgLogin = document.querySelector('.profile-black-bg-login')
      const profileBlackBgNone = document.querySelector('.profile-black-bg-none')
      const profileBgLogin = document.querySelector('.profile-bg-login')
      const profileBgNone = document.querySelector('.profile-bg-none')

      // 네비게이션바 제품
      navbarProductClick.addEventListener('mouseenter', () => {
        blackBg
          .classList
          .add('show-modal')
        searchForm.style.visibility = 'hidden';
        searchForm.style.opacity = '0';
        profileBlackBgNone.style.visibility = 'hidden'
        profileBlackBgNone.style.opacity = '0'
        profileBlackBgLogin.style.visibility = 'hidden'
        profileBlackBgLogin.style.opacity = '0'
      })
      listGroup.addEventListener('mouseleave', () => {
        blackBg
          .classList
          .remove('show-modal')
      })
      navbar.addEventListener('mouseover', () => {
        navbar.style.backgroundImage = 'linear-gradient(to bottom, rgb(253, 253, 252) 25%, #f0f8ff 75%)'
        navbar.style.backgroundColor = ''
        navbar.style.transition = 'all 1s'
      })
      listGroup.addEventListener('mouseleave', () => {
        navbar.style.backgroundImage = 'none'
        navbar.style.transition = 'all 1s'
      })

      if (login.children[0].id == 'loginNone') {
        // 비로그인 중 프로필 팝업
        const loginNone = document.querySelector('#loginNone')
        loginNone.addEventListener('click', () => {
          if (profileBlackBgNone.style.visibility == 'hidden') {
            profileBlackBgNone.style.visibility = 'visible'
            profileBlackBgNone.style.opacity = '1'
            blackBg.classList.remove('show-modal')
          } else {
            profileBlackBgNone.style.visibility = 'hidden'
            profileBlackBgNone.style.opacity = '0'
          }
        })
        profileBgNone.addEventListener('mouseleave', () => {
          profileBlackBgNone.style.visibility = 'hidden'
          profileBlackBgNone.style.opacity = '0'
        })
        profileBlackBgNone.addEventListener('click',() => {
          profileBlackBgNone.style.visibility = 'hidden'
          profileBlackBgNone.style.opacity = '0'
        })

      } else {
        // 로그인 중 프로필 팝업
        const loginIng = document.querySelector('#loginIng')
        loginIng.addEventListener('click', () => {
          if (profileBlackBgLogin.style.visibility == 'hidden') {
            profileBlackBgLogin.style.visibility = 'visible';
            profileBlackBgLogin.style.opacity = '1';
            blackBg.classList.remove('show-modal');
            searchForm.style.visibility = 'hidden';
            searchForm.style.opacity = '0';
          } else {
            profileBlackBgLogin.style.visibility = 'hidden'
            profileBlackBgLogin.style.opacity = '0'
          }
        })
        profileBgLogin.addEventListener('mouseleave', () => {
          profileBlackBgNone.style.visibility = 'hidden'
          profileBlackBgNone.style.opacity = '0'
        })
        profileBgLogin.addEventListener('click', () => {
          profileBlackBgLogin.style.visibility = 'hidden'
          profileBlackBgLogin.style.opacity = '0'
        })
      }

      // 검색
      const searchClick = document.querySelector("#search-click")
      const searchForm = document.querySelector('#searchForm')
      const searchCancel = document.querySelector('.search-cancel')

      searchClick.addEventListener('click', () => {
        if (searchForm.style.visibility == 'hidden') {
          searchForm.style.visibility = 'visible'
          searchForm.style.opacity = '1'
          blackBg.classList.remove('show-modal')
          profileBlackBgLogin.style.visibility = 'hidden'
          profileBlackBgLogin.style.opacity = '0'
        } else {
          searchForm.style.visibility = 'hidden'
          searchForm.style.opacity = '0'
        }
      })

      searchCancel.addEventListener('click', () => {
        searchForm.style.visibility = 'hidden'
        searchForm.style.opacity = '0'
      })
    </script>

    <!-- 스크롤시 네비게이션바 숨기기 -->
    <script>
      window.addEventListener("mousewheel", (e) => {
        const direction = e.deltaY > 0 ? "Scroll Down" : "Scroll Up";
        if (direction == "Scroll Down") {
          navbar.style.transform = 'translateY(-100%)'
          searchForm.style.visibility = 'hidden';
          searchForm.style.opacity = '0';
          profileBlackBgNone.style.visibility = 'hidden'
          profileBlackBgNone.style.opacity = '0'
          profileBlackBgLogin.style.visibility = 'hidden'
          profileBlackBgLogin.style.opacity = '0'
          blackBg
          .classList
          .remove('show-modal')
        } else {
          navbar.style.transform = 'translateY(0%)'
        }
      })
    </script>

    <script>
      const hamburger = document.querySelector('.hamburger')
      const hamburgerClickX = document.querySelector('.hamburger-click-x')
      const hamburgerClickUp = document.querySelector('.hamburger-click-up')
      const hamburgerClickDown = document.querySelector('.hamburger-click-down')

      hamburger.addEventListener('click', () => {
        hamburger.style.visibility = "hidden"
        hamburgerClickX.style.visibility = "visible"
        hamburgerClickUp.style.visibility = "visible"
        //hamburgerClickUp.style.opacity = '1'
        hamburgerClickUp.style.transform = "translateY(-260%)";
        hamburgerClickDown.style.visibility = "visible"
        //hamburgerClickDown.style.opacity = '1'
        hamburgerClickDown.style.transform = "translateY(-130%)";
      })

      hamburgerClickX.addEventListener('click', () => {
        hamburger.style.visibility = "visible"
        hamburgerClickX.style.visibility = "hidden"
        hamburgerClickUp.style.visibility = "hidden"
        hamburgerClickUp.style.transform = "translateY(0%)";
        hamburgerClickDown.style.visibility = "hidden"
        hamburgerClickDown.style.transform = "translateY(0%)";
      })

      hamburgerClickUp.addEventListener('click', () => {
        window.scrollTo({top: location, behavior: 'smooth'});
      })

      hamburgerClickDown.addEventListener('click', () => {
        window.scrollTo(0, document.body.scrollHeight);
      })
    </script>
    

    {% block js %}{% endblock js %}
  </body>

</html>
