{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock css %}
    {% block title %}{% endblock title %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" href=" {% static 'images/dish.svg'%} ">
  </head>

  <body>

    <!-- 메인 내용 -->
    <main class="container">
      {% block content %}{% endblock content %}
    </main>

    <!-- 푸터 -->
    <footer class="sticky-bottom my-5">
      <div class="card">
        <div class="card-body text-center">
          made by. 유영, 서림, 성인, 윤식
        </div>
      </div>
    </footer>

    <!-- 스크립트 -->
    {% bootstrap_javascript %}
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block js %}{% endblock js %}
  </body>

</html>
