{% extends 'base1.html' %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'products/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'products/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/detail.css' %}">

{% endblock css %}

{% block content %}
  <!--경로-->
  <div class="pg-location">
    <div class="pg-location-inner d-flex justify-content-start; mt-3">
      <a href="" class="ml-3 mr-2" style="text-decoration:none; color:gray; font-size: 15px;">HOME
        <i class="bi bi-chevron-right"></i>
      </a>
      <form action="{% url 'products:index' %}">
        <button type="submit" class="cate_btn">
          <p>{{ product.제조회사 }}</p>
          <input type="text" value={{ product.제조회사 }} class="category-value" name="category">
        </button>
        <i class="bi bi-chevron-right"></i>
      </form>
      <span id="location-prd-nm" class="ml-2" style="color:gray; font-size: 15px;">
        {{modelName}}
      </span>
    </div>
  </div>

  <div class="container" style="background-color: #f7f7f7; margin-top: 70px;">
    <div class="row">
      <div class="col-md-7 pr-0">
        <!--캐러셀-->
        <section class="ftco-section">
          <div class="slider-hero">
            <div class="featured-carousel owl-carousel">
              <div class="item">
                <div class="work">
                  <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{image1}});">
                    <div class="text text-center">
                      <!-- <h2>인텔리랩스</h2> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="work">
                  <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{image2}});">
                    <div class="text text-center"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="work">
                  <div class="img d-flex align-items-center justify-content-center" style="background-image: url({{image3}});">
                    <div class="text text-center"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="my-5 text-center">
              <ul class="thumbnail">
                <li class="active img">
                  <a href="#"><img src="{{image1}}" alt="Image" class="img-fluid"></a>
                </li>
                <li>
                  <a href="#"><img src="{{image2}}" alt="Image" class="img-fluid"></a>
                </li>
                <li>
                  <a href="#"><img src="{{image3}}" alt="Image" class="img-fluid"></a>
                </li>
              </ul>
            </div>
          </div>

        </section>
      </div>
      <!--구매 정보-->
      <div class="col-md-5 p-0">
        <div class="itm-information">
          <div class="itm-info-head">
            <div class="item-flag">
              <span class="flag-tag">트레이드인</span>
            </div>
            <div class="social-box">
              <button type="button" class="btn-sns-link">
                <a id="kakaotalk-sharing-btn" href="javascript:;">
                  <i class="icon ico-large ico-share">소셜공유</i>
                </a>

              </button>
              <button type="button" class="btn-good on" title="선택됨">
                {% if request.user.is_authenticated %}
                  {% if request.user in product.like_product.all %}
                    <i id="attention" data-product-id="{{ product.pk }}" class="icon-heart bi bi-heart-fill" ></i>
                  {% else %}
                    <i id="attention" data-product-id="{{ product.pk }}" class="icon-heart bi bi-heart"></i>
                  {% endif %}
                {% else %}
                  <!-- 수정 필요 11/15-->
                  <div>
                    <a href="{% url 'accounts:login' %}">
                      <i class="icon-heart bi bi-heart"></i>
                    </a>
                  </div>
                {% endif %}
              </button>
            </div>
            <h1 class="itm-info-title mt-4" id="goodsDetailNm">{{modelName}}</h1>
            <!--<div class="itm-sku b2c-itm-sku">NT950QED-KD72S</div>-->
            <div class="itm-rating-con">
              <div class="itm-rating b2c-itm-rating">
                <div class="itm-sart-rating">
                  <i id="rating1" class=""></i>
                  <i id="rating2" class=""></i>
                  <i id="rating3" class=""></i>
                  <i id="rating4" class=""></i>
                  <i id="rating5" class=""></i>
                  <span>{{product_grade}}</span>
                  <a href="javascript:;" class="itm-review-count" title="상품평 보러가기">{{lenReviews}}건</a>
                </div>
              </div>
              <div class="itm-rating itm-review">
                <span class="itm-review-write">
                  <a href="{% url 'products:review_create' product.pk %}" class="btn-underline" title="상품평 쓰기 바로가기">상품평 쓰기</a>
                </span>
              </div>
            </div>
          </div>
          <div class="itm-price">
            <div>
              <input type="hidden" id="originalPrice" value="3070000">
              <dl class="has_strike">
                <dt>정가</dt>
                <dd>
                  <span data-price="3070000">{{price | intcomma}}</span>
                  원
                </dd>
              </dl>
              <input type="hidden" id="lastPrice" value="2191000">
              <dl class="event-price">
                <dt>
                  특가</dt>
                <dd>
                  <span data-price="2191000" class="pd-total-price">{{special_price | intcomma}}</span>
                  원
                </dd>
              </dl>
              <script type="text/javascript">
                if ('2191000' == 0) {
                  $(".itm-price").hide();
                }
              </script>
            </div>
          </div>
          <div class="itm-option-choice droptoggle">
            <dl>
              <dt>
                <span>색상</span>
              </dt>
              <dd>
                <div class="dropOption" id="dropOption-2001043-1">
                  <span class="itm-color-object" style="background-color: #c0c0c0;" data-omni="color_실버">실버</span>
                  <span class="selectedOption">실버</span>
                </div>
              </dd>
            </dl>
            <dl class="count-show-box">
              <dt>수량</dt>
              <dd>
                <span class="spinner-box pd-spinner goods-count">
                  <!-- <a href="javascript:void(0);" class="count count-miner" type="button" id="pd-goods-count-miner" onclick='count("minus")' value="-">감소</a> -->
                  <input type="button" onclick='count("minus")' value="-" class="count count-miner btn btns">
                  <label for="countPrd" class="blind">구매수량</label>
                  <div id='result' class="number countPrd">1</div>
                  <!-- <input type="text" class="number count-prd" id="countPrd" value="1" data-max-qty="22" data-min-ord-qty> -->
                  <input type="button" onclick='count("plus")' value="+" class="count count-plus btn btns">
                  <!-- <a href="javascript:void(0);" class="count count-plus" type="button" id="pd-goods-count-plus" onclick='count("plus")' value="+">증가</a> -->
                </span>
              </dd>
            </dl>
          </div>
          <hr>
          <div class="itm-total-bottom">
            <div class="box-btn">
              <div class="box-cto">
                <ul>
                  <li>
                    <a id="btnCart" type="button" class="btn btn-l btn-type6" href="{% url 'cart:add_cart' product.id %}">장바구니</a>
                  </li>
                  <li>
                    <button id="btnCart" type="button" class="btn btn-k btn-type2 ms-3 px-3">바로구매</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- 스펙 -->
<!-- 리뷰 -->
<!-- 리뷰창 -->
  <!-- 개인 리뷰 -->
  <div>
    {% for review in reviews %}

        <div class="d-flex">
            <div>
                {% if review.user.image %}
                <img src="{{ review.user.image.url }}" alt="프로필 사진" style="width: 50px; height: 50px; border-radius: 500px">
                {% else %}
                <img src="https://www.dummyimage.com/600x400/000/fff" alt="후기 이미지" style="width: 50px; height: 50px; border-radius: 500px">
                {% endif %}
            </div>
              <div class="mx-3" style="width: 100%;">
                  <div class="d-flex">
                    <div>
                        {{review.user.username}}
                    </div>
                    <div class="mx-3">
                        {% if review.created_string == False %}
                            <td>
                                {{ review.registered_date|date:'m월 d일' }}
                            </td>
                        {% else %}
                            <td>
                                {{ review.created_string }}
                            </td>
                        {% endif %}
                    </div>
                    <div>
                        {{ review.grade }}
                    </div>
                </div>
                  <div id="review-content-{{review.pk}}" class="">{{review.content}}</div>
                  <div id="review-form-{{review.pk}}" class="hidden">
                    <form action="{% url 'products:update' product.pk review.pk %}" method="POST" >
                        {% csrf_token %}
                        {{review_form}}
                        <div>
                            <input type="submit" value="수정하기">
                        </div>
                    </form>
                </div>
                  <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        {% if request.user.is_authenticated %}
                            {% if request.user in review.like.all %}
                            <i data-review-id="{{ review.pk }}" data-product-id="{{ product.pk }}" class="review-like icon-heart bi bi-heart-fill" ></i>
                            {% else %}
                            <i data-review-id="{{ review.pk }}" data-product-id="{{ product.pk }}" class="review-like icon-heart bi bi-heart"></i>
                            {% endif %}
                        {% else %}
                        <a href="{% url 'accounts:login' %}">
                            <i class="icon-heart bi bi-heart"></i>
                        </a>
                        {% endif %}
                        <div id="likeReviewCount{{review.pk}}">{{ review.like.count }}</div>
                        <div>답글</div>
                    </div>
                    <div class="d-flex">
                        <!-- 수정 삭제 버튼 아직 미 완성 -->
                        {% if request.user.pk == review.user.pk %}
                            <button type="button" class="review-update btn btn-outline-success mx-3" data-product-id="{{ product.pk }}" data-review-id="{{ review.pk }}">수정</button>
                            <form class="review-delete" data-product-id="{{ product.pk }}" data-review-id="{{ review.pk }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">삭제</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
              </div>
        </div>
        {% empty %}
        <p class="text-center">아직 리뷰가 없습니다. 리뷰를 남겨
          <b>{{ restaurant.restaurant_name }}</b>의 첫번째 리뷰를 남겨보세요.
        </p>
      {% endfor %}
    </div>
  </div>
{% comment %} 아래 자동 정렬 멈추기용 {% endcomment %}
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/product.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js" integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous"></script>
<script>
Kakao.init(`{{ KAKAO_KEY }}`); // 사용하려는 앱의 JavaScript 키 입력
</script>
<script>
Kakao
.Share
.createDefaultButton({
container: '#kakaotalk-sharing-btn',
objectType: 'commerce',
content: {
    title: '',
    imageUrl: `{{thumbnail}}`,
    link: {
    // [내 애플리케이션] > [플랫폼] 에서 등록한 사이트 도메인과 일치해야 함
    mobileWebUrl: 'https://developers.kakao.com',
    webUrl: 'https://developers.kakao.com'
    }
},
commerce: {
    productName: `{{ modelName }}`,
    regularPrice: {{price}},
    discountRate: 10,
    discountPrice: {{special_price}}
},
buttons: [
    {
    title: '구매하기',
    link: {
        mobileWebUrl: `http://localhost:8000/products/product_detail/{{product.pk}}`,
        webUrl: `http://localhost:8000/products/product_detail/{{product.pk}}`
    }
    }, {
    title: '공유하기',
    link: {
        mobileWebUrl: `http://localhost:8000/products/product_detail/{{product.pk}}`,
        webUrl: `http://localhost:8000/products/product_detail/{{product.pk}}`
    }
    }
]
});
</script>
<script>
    const drawStar = (target) => {
        document.querySelector(`.star span`).style.width = `${target.value * 10}%`;
    }
    const rating1 = document.querySelector("#rating1")
    const rating2 = document.querySelector("#rating2")
    const rating3 = document.querySelector("#rating3")
    const rating4 = document.querySelector("#rating4")
    const rating5 = document.querySelector("#rating5")
    const num = {{product_grade}}
    var n = 0;
    if (num >= 1){
        rating1.classList.add('bi-heart-fill')
    } else {
        if (num >= 0.5) {
            rating1.classList.add('bi-heart-half')
        } else {
            rating1.classList.add('bi-heart')
        }
    }
    if (num >= 2){
        rating2.classList.add('bi-heart-fill')
    } else {
        if (num >= 1.5) {
            rating2.classList.add('bi-heart-half')
        } else {
            rating2.classList.add('bi-heart')
        }
    }
    if (num >= 3){
        rating3.classList.add('bi-heart-fill')
    } else {
        if (num >= 2.5) {
            rating3.classList.add('bi-heart-half')
        } else {
            rating3.classList.add('bi-heart')
        }
    }
    if (num >= 4){
        rating4.classList.add('bi-heart-fill')
    } else {
        if (num >= 3.5) {
            rating4.classList.add('bi-heart-half')
        } else {
            rating4.classList.add('bi-heart')
        }
    }
    if (num == 5){
        rating5.classList.add('bi-heart-fill')
    } else {
        if (num >= 4.5) {
            rating5.classList.add('bi-heart-half')
        } else {
            rating5.classList.add('bi-heart')
        }
    }
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const attention = document.querySelector("#attention")
    attention.addEventListener("click", function (event) {
    const productId = event.target.dataset.productId;
    event.preventDefault()
    axios({method: "get", url: `/products/like/${productId}`})
    .then(response => {
        if (response.data.isLiked === true) {
            event.target.classList.add('bi-heart-fill')
            event.target.classList.remove('bi-heart')
        } else {
            event.target.classList.add('bi-heart')
            event.target.classList.remove('bi-heart-fill')
        }
    })
    })
</script>
<script>
    const reviewLike = document.querySelector(".review-like")
    reviewLike.addEventListener("click", function (event) {
        const productId = event.target.dataset.productId;
        const reviewId = event.target.dataset.reviewId;
        event.preventDefault()
        axios({method: "get", url: `/products/like_reviews/${reviewId}/${productId}`})
        .then(response => {
            if (response.data.isLiked === true) {
                event.target.classList.add('bi-heart-fill')
                event.target.classList.remove('bi-heart')
            } else {
                event.target.classList.add('bi-heart')
                event.target.classList.remove('bi-heart-fill')
            }
            const likeReviewCount = document.querySelector(`#likeReviewCount${reviewId}`)
            likeReviewCount.innerText = response.data.likeReviewCount
        })
    })
</script>
<script>
    const reviewDelete = document.querySelector(".review-delete")
    reviewDelete.addEventListener("submit", function (event) {
    const productId = event.target.dataset.productId;
    const reviewId = event.target.dataset.reviewId;
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    event.preventDefault()
    axios(
        {
            method: "post", 
            url: `/products/product_detail/${productId}/${reviewId}/delete`,
            headers: {
                'X-CSRFToken': csrftoken
            },
        }
    )
    .then(response => {
        reviewDelete.parentNode.parentNode.parentNode.parentNode.innerHTML = ""
        })
    })
</script>
<script>
    const reviewUpdate = document.querySelector(".review-update")
    reviewUpdate.addEventListener("click", function (event) {
        const productId = event.target.dataset.productId;
        const reviewId = event.target.dataset.reviewId;
        event.preventDefault()
        axios(
            {
                method: "get", 
                url: `/products/product_detail/${productId}/${reviewId}/update`,
            }
        )
        .then(response => {
            const reviewContent = document.querySelector(`#review-content-${reviewId}`)
            const reviewForm = document.querySelector(`#review-form-${reviewId}`)
            reviewContent.classList.toggle("hidden")
            reviewForm.classList.toggle("hidden")
            })
        })
</script>
{% endblock js %}