{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'products/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'products/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
	<link rel="stylesheet" href="{% static 'products/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'products/css/style.css' %}">
  
{% endblock css %}

{% block content %}
<!--경로-->
<div class="pg-location">
  <div class="pg-location-inner d-flex justify-content-start; mt-3">
    <a href="" class="ml-3 mr-2" style="text-decoration:none; color:gray;">HOME ></a>
    <span>
      PC/프린터 >
    </span>
    <a href="" style="text-decoration:none; color:gray;" class="ml-2">
      PC >
    </a>
    <a href="" style="text-decoration:none; color:gray;" class="ml-2">
      모두보기 >
    </a>
    <span id="location-prd-nm" class="ml-2" style="color:gray;">
      갤럭시 북2 Pro 360 39.6 cm Core™ i7 / 1 TB NVMe SSD
    </span>
  </div>
</div>
<div class="container" style="background-color: #f7f7f7; margin-top: 70px;">
  <div class="row">
    <div class="col-md-7 pr-0">
      <!--캐러셀-->
      <section class="ftco-section">
              <div class="slider-hero">
                <div class="featured-carousel owl-carousel">
                  <div class="item">
                    <div class="work">
                      <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/static/products/img/slider-1.jpg);">
                        <div class="text text-center">
                          <!-- <h2>인텔리랩스</h2> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="work">
                      <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/static/products/img/slider-2.jpg);">
                        <div class="text text-center">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="work">
                      <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/static/products/img/slider-3.jpg);">
                        <div class="text text-center">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="my-5 text-center">
                  <ul class="thumbnail">
                    <li class="active img"><a href="#"><img src="/static/products/img/thumb-1.jpg" alt="Image" class="img-fluid"></a></li>
                    <li><a href="#"><img src="/static/products/img/thumb-2.jpg" alt="Image" class="img-fluid"></a></li>
                    <li><a href="#"><img src="/static/products/img/thumb-3.jpg" alt="Image" class="img-fluid"></a></li>
                  </ul>
                </div>
              </div>
        
      </section>
    </div>
    <!--구매 정보-->
    <div class="col-md-5 p-0">
        <div class="itm-information">
          <div class="itm-info-head">
            <div class="item-flag">
              <span class="flag-tag">트레이드인</span>
            </div>
          <div class="social-box">
            <button type="button" class="btn-sns-link">
              <i class="icon ico-large ico-share">소셜공유</i>
            </button>
            <button type="button" class="btn-good on" title="선택됨">
              <i class="icon ico-large ico-goods">좋아요 선택</i>
            </button>
          </div>
          <h1 class="itm-info-title mt-4" id="goodsDetailNm">갤럭시 북2 Pro 360 39.6 cm Core™ i7 / 1 TB NVMe SSD</h1>
          <div class="itm-sku b2c-itm-sku">NT950QED-KD72S</div>
          <div class="itm-rating-con">
            <div class="itm-rating b2c-itm-rating">
                <div class="itm-sart-rating">
                  <i class="star-gray">별점 0점</i>
                  <i class="star-gray">별점 0점</i>
                  <i class="star-gray">별점 0점</i>
                  <i class="star-gray">별점 0점</i>
                  <i class="star-gray">별점 0점</i>
                  <span>0.0</span>
                  <a href="javascript:;" class="itm-review-count" title="상품평 보러가기">(0건)</a>
                </div>
              </div>  
                <div class="itm-rating itm-review">
                  <span class="itm-review-write">
                    <a href="javascript:void(0);" class="btn-underline" title="상품평 쓰기 바로가기">상품평 쓰기</a>
                  </span>  
                </div>  
            </div>
          </div>
          <div class="itm-price">
            <div>
              <input type="hidden" id="originalPrice" value="3070000">
              <dl class="has_strike">
                <dt>정가</dt>
                <dd>
                  <span data-price="3070000">3,070,000</span>
                  원 
                </dd>
              </dl>
              <input type="hidden" id="lastPrice" value="2191000">
              <dl class="event-price">
                <dt> 특가</dt>
                <dd>
                  <span data-price="2191000" class="pd-total-price">2,191,000</span>
                  원 
                </dd>
              </dl>
              <script type="text/javascript">
                if('2191000' == 0) {
                  $(".itm-price").hide();
                }
              </script>
            </div>
          </div>
          <div class="itm-option-choice droptoggle">
            <dl>
              <dt>
                <span>색상</span>
              </dt>
              <dd>
                <div class="dropOption" id="dropOption-2001043-1">
                  <span class="itm-color-object" style="background-color: #c0c0c0;" data-omni="color_실버">실버</span>
                  <span class="selectedOption">실버</span>
                </div>
              </dd>
            </dl>
            <dl class="count-show-box">
              <dt>수량</dt>
              <dd>
                <span class="spinner-box pd-spinner goods-count">
                  <!-- <a href="javascript:void(0);" class="count count-miner" type="button" id="pd-goods-count-miner" onclick='count("minus")' value="-">감소</a> -->
                  <input type="button" onclick='count("minus")' value="-" class="count count-miner btn btns">
                  <label for="countPrd" class="blind">구매수량</label>
                  <div id='result' class="number countPrd">1</div>
                  <!-- <input type="text" class="number count-prd" id="countPrd" value="1" data-max-qty="22" data-min-ord-qty> -->
                  <input type="button" onclick='count("plus")' value="+" class="count count-plus btn btns">
                  <!-- <a href="javascript:void(0);" class="count count-plus"  type="button" id="pd-goods-count-plus" onclick='count("plus")' value="+">증가</a> -->
                </span>
              </dd>
            </dl>
          </div>
          <hr>
            <div class="itm-total-bottom">
              <div class="box-btn">
                <div class="box-cto">
                  <ul>
                    <li>
                      <button id="btnCart" type="button" class="btn btn-l btn-type6">장바구니</button>
                    </li>
                    <li>
                      <button id="btnCart" type="button" class="btn btn-k btn-type2 ms-3 px-3">바로구매</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/static/js/product.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
{% endblock js %}