@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* section */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color {
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background-color: rgb(205, 205, 255);
}

section .color:nth-child(2) {
    bottom: -100px;
    left: 400px;
    width: 400px;
    height: 400px;
    background-color: #fffd97;
}

section .color:nth-child(3) {
    bottom: 50px;
    left: 1100px;
    width: 250px;
    height: 250px;
    background-color: #00d2ff;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    top: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    top: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}
.container1 {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin: 1rem 0 1rem 0;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form .inputBox {
    width: 80%;
    margin-top: 20px;
}

.form .inputBox input {
    min-width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    margin: 0;
}

.form .inputBox input::placeholder {
    color: rgb(50, 79, 89);
    font-weight: 20px;
}

.form .inputBox input[type="submit"] {
    background-color: transparent;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.forget {
    margin-top: 5px;
    color: rgb(50, 79, 89);
    font-weight: 20px;
}

.forget a {
    color: rgb(50, 79, 89);
    font-weight: 20px;
}

.card-body {
    background-image: linear-gradient(to top, rgb(252, 252, 252) 35%, #f0f8ff 65%);
}

.navbar {
    background-image: linear-gradient(to bottom, rgb(253, 253, 252) 25%, #f0f8ff 75%);
}

.bi-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.btns:hover {
    background-color: blue;
}

button.firstBtn:focus {
    border: none;
    outline: none;
}
