/* 폼 폭 조절 */


.mains{
  margin-top: 50px;
}



.form {
  color: #434343;
  margin: auto;
  width: 20%;
}

.submit {
  background-color:  rgb(205, 205, 255);
  border: none;
  border-radius: 2rem;
  color: rgb(147, 112, 219);
  margin-top: 1.5rem;
  padding: 10px 35px 10px 35px;

}

.back {
  color: white;
  background-color: black;
  border: none;
  border-radius: 2rem;
  margin: 0 0 0 5px;
  padding: 10px 20px 10px 20px;
}


.back:hover {
  background-color: #adadad;
  border: none;
  border-radius: 2rem;
  color: white;

}


.submit:hover {
  background-color: #d497fd;
}
