@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: #fff;
    margin: 1rem 0 1rem 0;
}

/* section */
section
{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color {
    position: absolute;
    filter: blur(150px);
}

.card-body {
    background-image: linear-gradient(to top, rgb(252, 252, 252) 35%, #f0f8ff 65%);
}

.navbar {
    background-image: linear-gradient(to bottom, rgb(253, 253, 252) 25%, #f0f8ff 75%);
}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background-color: rgb(205, 205, 255);
}

section .color:nth-child(2) {
    bottom: -100px;
    left: 700px;
    width: 350px;
    height: 300px;
    background-color: #fffd97;
}

section .color:nth-child(3) {
    bottom: 50px;
    left: 1200px;
    width: 200px;
    height: 200px;
    background-color: #00d2ff;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.box .square:nth-child(3) {
    top: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square:nth-child(4) {
    top: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

.container1 {
    position: relative;
    width: 800px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.all-form {
    width: 60%;
}

.form1 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form1 h2 {
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.sign {
    color: gray;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.form1 .inputBox1 {
    width: 100%;
}

.form1 .inputBox1 input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form1 .inputBox1 input::placeholder {
    color: rgb(50, 79, 89);
    font-weight: 20px;
}

.form1 .inputBox1 input[type="submit"] {
    background-color: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.form1 .inputBox1_button input[type="submit"] {
    background-color: #fff;
    color: #666;
    max-width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.form1 .inputBox1_button {
    width: 100%;
    margin-top: 20px;
}

label {
    display: block;
}
