@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* 정보 수정 */

.mains{
    margin-top: 50px;
}


.title {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 4rem auto 1.5rem;
    width: 60%;
    text-align: center;
}


/* 폼 폭 조절 */
.form {
    color: #434343;
    margin: auto;
    width: 15%;
}


/* 폼 간격 조절 + 이름 진하게 */
.form-label {
    font-weight: 600;
    margin-top: 1rem;
}


/* placeholder 글자 크기 줄임 */
.form-control::placeholder {
    font-size: 0.9rem;
}


/* 제출 버튼 조절 */
.submit {
    background-color:  rgb(205, 205, 255);
    border: none;
    border-radius: 2rem;
    color: rgb(147, 112, 219);
    margin-top: 1.5rem;
    padding: 10px 35px 10px 35px;
}


/* 제출 버튼 색 변경 */
.submit:hover {
    background-color: #d497fd;
}


/* 뒤로가기 버튼 */
.back {
    color: white;
    background-color: black;
    border: none;
    border-radius: 2rem;
    margin: 0 0 0 5px;
    padding: 10px 20px 10px 20px;
}

.back:hover {
    background-color: #adadad;
    border: none;
    border-radius: 2rem;
    color: white;

}